<div ng-controller="assistenciasCtrl">
    <div class="container-fluid header header--max" scrolling-to-top fix-to-top>
        <div class="header__svg--left" style="width: 20%;" du-parallax y="grafismoLeft">
            <img src="../images/fundo_grafismo_esquerda.svg" height="250" />
        </div>
        <div class="row">
            <div class="container">
                <div class="row" du-parallax y="header">
                    <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                        <timeline passo="2"></timeline>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="header__logo--min">
                            <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 189.8 51" style="enable-background:new 0 0 189.8 51;" xml:space="preserve" height="44">
                            <text transform="matrix(1 0 0 1 57.2804 19.23)"><tspan x="0" y="0" class="st0 st1 st2">Plan</tspan><tspan x="32.2" y="0" class="st0 st1 st2">o</tspan></text>
                            <text transform="matrix(1 0 0 1 57.2804 41.23)"><tspan x="0" y="0" class="st0 st3 st4">Do </tspan><tspan x="35.1" y="0" class="st0 st3 st4">s</tspan><tspan x="46.2" y="0" class="st0 st3 st4">eu jei</tspan><tspan x="102.5" y="0" class="st0 st3 st4">t</tspan><tspan x="111.6" y="0" class="st0 st3 st4">o</tspan></text>
                            <polygon class="st5" points="14.1,41.2 26.1,41.2 26.1,31.5 31,31.5 31,41.2 43,41.2 43,26.7 47.8,26.7 28.6,7.2 9.3,26.7
	                                14.1,26.7 " />
                                </svg>

                        </div>
                        <h2 class="header__text--white font--light text-center">
                            {{dadosPessoais.primeiroNome}}, aqui você escolhe quais <span class="font--medium">coberturas</span> e <span class="font--medium">assistências</span> quer incluir no seu plano.
                        </h2>

                        <div class="header__text--white font-size--16 font--light text-center">
                            Todos os nossos planos já vem com <span class="font--medium title__href__u white">4 <u>coberturas</u></span> e <span class="font--medium font--medium title__href__u white">9 <u>assistências</u></span>, mas você pode incluir quantas quiser e personalizar o valor de cada uma delas de acordo com as suas necessidades.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="header__svg--right" style="width: 18%;" du-parallax y="grafismoRight">
            <img src="../images/fundo_grafismo_direita.svg" />
        </div>
    </div>
    <modal ng-init="sendMail.display = 'hidden'" display="{{sendMail.display}}">
        <div class="modals__header">
            <div class="header__svg--left modals__header__grafismo--left">
                <img src="../images/fundo_grafismo_esquerda.svg" />
            </div>
            <div class="container-fluid">
                <i class="pull-right fa fa-close modals__close" ng-click="sendMail.display = 'hidden'"></i>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title font--light modals__header__title text-center">
                            Enviar cotação por e-mail.
                        </h1>
                        <h4 class="title white text-center font--regular box--margintop--20">
                            Digite o seu e-mail correto para que possamos enviar a sua cotação de Seguro Residencial.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="header__svg--right modals__header__grafismo--right">
                <img src="../images/fundo_grafismo_direita.svg" />
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 box--margintop--50">
                    <input-email placeholder="E-mail" type="text" name="email" ng-model="dadosPessoais.email" maxlength="80" valid="error.email.valid" message="{{error.email.message}}" />
                </div>
                <div class="col-md-4 col-md-offset-4 box--margintop--50 text-center">
                    <button class="button--background">
                        Enviar
                    </button>
                </div>
            </div>
        </div>

    </modal>
    <form ng-submit="validarAssistencias()" novalidate>

        <div class="section">
            <div class="container container--step3">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center">
                        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
                            <h3 class="title title__select--margin--min box--margintop--50 font--medium text-center roxo">
                                Coberturas
                            </h3>
                            <h4 class="title box--nomargin title__select--margin--min gray font--light" style="margin-bottom: 22px;">
                                O que já está <span class="font--medium">incluido</span> no seu plano:
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-repeat="inclusa in coberturas">
                                    <box-flip name="{{inclusa.id}}">
                                        <div class="boxflip-flip">
                                            <div class="boxflip__front">
                                                <div class="boxflip__icon">
                                                    <!--<img src="{{inclusa.icone}}" class="boxflip__icon__img" />-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" id="svgroot" viewBox="0 0 280 158" width="280" height="158">
                                                        <defs>
                                                            <filter id="filtersPicture">
                                                                <feComposite result="inputTo_38" in="SourceGraphic" in2="SourceGraphic" operator="arithmetic" k1="0" k2="1" k3="0" k4="0" />
                                                                <feColorMatrix id="filter_38" type="saturate" values="0" data-filterid="38" />
                                                            </filter>
                                                        </defs>
                                                        <image x="-60" y="0" width="280" height="158" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{inclusa.icone}}" />
                                                    </svg>
                                                </div>
                                                <h4 class="boxflip__title line--inherit box--margintop--10">
                                                    {{inclusa.nome}}
                                                </h4>
                                                <h5 class="boxflip__label roxo--light">
                                                    Valor da cobertura
                                                </h5>
                                                <p class="boxflip__paragraph boxflip__label--light" ng-if="inclusa.valorMinimo">
                                                    Mínimo de {{inclusa.valorMinimo|currency:''}} e máximo de {{inclusa.valorMaximo|currency:''}}
                                                </p>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-xs-1 col-xs-offset-0 col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1">
                                                        <button class="button--rounded--slider button--rounded--slider--margin--min" type="button" ng-click="diminuiRange('inclusas', $index, 100, inclusa.valorMinimo)">
                                                            -
                                                        </button>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <rzslider rz-slider-model="inclusa.valor" rz-slider-maxlimit="inclusa.valorMaximo" rz-slider-options="{id: inclusa.id, showSelectionBar: true, hideLimitLabels: true, hidePointerLabels: true, ceil: inclusa.valorMaximo, onChange : slider.onChange }"></rzslider>
                                                    </div>
                                                    <div class="col-xs-1 col-lg-1 col-md-1 col-sm-1">
                                                        <button class="button--rounded--slider button--rounded--slider--margin--min" type="button" ng-click="aumentaRange('inclusas', [$index], 100, inclusa.valorMaximo)">
                                                            +
                                                        </button>
                                                    </div>
                                                </div>
                                                <h3 class="boxflip__price text-center">
                                                    <span class="font--light font__box--min">R$&nbsp;</span>{{inclusa.valor|currency:''}}
                                                </h3>
                                            </div>
                                            <div class="boxflip__back">
                                                <h4 class="title text-center line--inherit boxflip__back__title">
                                                    {{inclusa.nome}}
                                                </h4>
                                                <h6 class="boxflip__back__title--blue box--margintop--20">
                                                    Como funciona
                                                </h6>
                                                <div class="font--regular">
                                                    {{inclusa.completa}}
                                                </div>
                                                <h6 class="boxflip__back__title--blue box box--margintop--20">
                                                    Franquia
                                                </h6>
                                                <div class="font--regular">
                                                    {{inclusa.franquia}}
                                                </div>
                                            </div>
                                        </div>
                                    </box-flip>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="col-md-8 col-md-offset-2">
                                <h4 class="title gray font--light text-center title--margin--top--bottom">
                                    Coberturas que você pode <span class="font--medium">adicionar</span> ao seu plano:
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 " ng-repeat="cobertura in ofertasCobertura">
                                    <box-flip ischeckbox="{{cobertura.id}}" name="{{cobertura.id}}">
                                        <input type="checkbox" class="boxflip__checkbox___input" id="{{cobertura.id}}" ng-click="selecionaCobertura(cobertura)" />
                                        <label class="boxflip__checkbox" for="{{cobertura.id}}">
                                            <div class="pull-left boxflip__checkbox__icon--left">
                                                <img src="../images/icon_check.svg" />
                                            </div>
                                            <span></span>
                                            <div class="pull-left boxflip__checkbox__icon--right">
                                                <img src="../images/icon_off.svg" />
                                            </div>
                                        </label>
                                        <div class="boxflip-flip">
                                            <div class="boxflip__front">
                                                <div class="boxflip__icon">
                                                    <!--<img src="{{cobertura.icone}}" class="boxflip__icon__img" />-->
                                                    <svg xmlns="http://www.w3.org/2000/svg" id="svgroot" viewBox="0 0 280 158" width="280" height="158">
                                                        <defs>
                                                            <f
                                                            <filter id="filtersPicture">
                                                                <feComposite result="inputTo_38" in="SourceGraphic" in2="SourceGraphic" operator="arithmetic" k1="0" k2="1" k3="0" k4="0" />
                                                                <feColorMatrix id="filter_38" type="saturate" values="0" data-filterid="38" />
                                                            </filter>
                                                        </defs>
                                                        <image class="boxflip__icon__img" x="-60" y="0" width="280" height="158" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{cobertura.icone}}" />
                                                    </svg>
                                                </div>
                                                <h4 class="boxflip__title">
                                                    {{cobertura.nome}}
                                                </h4>
                                                <div class="boxflip__info--actived">
                                                    <h5 class="boxflip__label roxo--light">
                                                        Valor da cobertura
                                                    </h5>
                                                    <p class="boxflip__paragraph boxflip__label--light">
                                                        Mínimo de R$ 70,00 e máximo de R$ 500,00
                                                    </p>

                                                    <div>
                                                        <div class="col-xs-1 col-xs-offset-0 col-lg-1 col-lg-offset-1 col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1">
                                                            <button class="button--rounded--slider button--rounded--slider--margin--min" type="button" ng-click="diminuiRange('ofertas', $index, 100, cobertura.valorMinimo)">
                                                                -
                                                            </button>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                            <rzslider rz-slider-model="cobertura.valor" rz-slider-options="{showSelectionBar: true,floor: 70,ceil: 500,step: 10, minValue: 70, maxValue: coberturas.Incendio.valorMaximo, hideLimitLabels: true, hidePointerLabels: true, onChange : slider.onChange}"></rzslider>
                                                        </div>
                                                        <div class="col-xs-1 col-lg-1 col-md-1 col-sm-1">
                                                            <button class="button--rounded--slider button--rounded--slider--margin--min" type="button" ng-click="aumentaRange('ofertas', [$index], 100, cobertura.valorMaximo)">
                                                                +
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <h3 class="boxflip__price text-center">
                                                        <span class="font--light font__box--min">R$&nbsp;</span>{{cobertura.valor|currency:''}}
                                                    </h3>
                                                </div>
                                                <div class="boxflip__info--desactived">
                                                    <div class="font--regular boxflip__back__description visible-lg">
                                                        {{cobertura.completa}}
                                                    </div>
                                                    <div class="font--regular boxflip__back__description visible-md">
                                                        {{cobertura.curta}}
                                                    </div>
                                                    <h5 class="boxflip__back__title--blue">
                                                        Franquia
                                                    </h5>
                                                    <div class="boxflip__description font--regular">
                                                        {{cobertura.franquia}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="boxflip__back">
                                                <h4 class="title text-center line--inherit boxflip__back__title slider--invisible">
                                                    {{cobertura.nome}}
                                                </h4>
                                                <h6 class="boxflip__back__title--blue box--margintop--20">
                                                    Como funciona
                                                </h6>
                                                <div class="font--regular">
                                                    {{cobertura.completa}}
                                                </div>
                                                <h6 class="boxflip__back__title--blue box box--margintop--20">
                                                    Franquia
                                                </h6>
                                                <div class="font--regular">
                                                    {{cobertura.franquia}}
                                                </div>
                                            </div>
                                        </div>
                                    </box-flip>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="height: 70px;"></div>
                </div>
            </div>
            <div class="container-fluid container--white">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
                            <h3 class="title title__select--margin--min font--medium text-center roxo">
                                Assistências
                            </h3>
                            <h4 class="title box--nomargin title__select--margin--min gray font--light">
                                O que já está <span class="font--medium">incluido</span> no seu plano:
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="assistencia in assistenciasInclusas">
                            <box-flip type="min" name="{{assistencia.id}}">
                                <div class="boxflip-flip">
                                    <div class="boxflip__front">
                                        <div class="boxflip__icon">
                                            <!--<img src="{{assistencia.icone}}" class="boxflip__icon__img" />-->
                                            <svg xmlns="http://www.w3.org/2000/svg" id="svgroot" viewBox="0 0 160 140" width="160" height="140">
                                                <defs>
                                                    <filter id="filtersPicture">
                                                        <feC
                                                        <feComposite result="inputTo_38" in="SourceGraphic" in2="SourceGraphic" operator="arithmetic" k1="0" k2="1" k3="0" k4="0" />
                                                        <feColorMatrix id="filter_38" type="saturate" values="0" data-filterid="38" />
                                                    </filter>
                                                </defs>
                                                <image class="boxflip__icon__img" x="-40" y="0" width="240" height="170" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{assistencia.icone}}" />
                                            </svg>
                                        </div>
                                        <h4 class="boxflip__title line--inherit">
                                            {{assistencia.nome}}
                                        </h4>
                                    </div>
                                    <div class="boxflip__back">
                                        <h6 class="boxflip__back__title--blue box--margintop--50" style="margin-top: 50px !important;">
                                            Como funciona
                                        </h6>
                                        <div class="font--regular">
                                            {{assistencia.curta}}
                                        </div>
                                        <h6 class="boxflip__back__title--blue box box--margintop--20">
                                            Franquia
                                        </h6>
                                        <div class="font--regular">
                                            {{assistencia.franquia}}
                                        </div>
                                    </div>
                                </div>
                            </box-flip>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8 col-md-offset-2">
                                <h4 class="title gray font--light text-center title--margin--top--bottom" style="margin-top: 70px;">
                                    Assistências que você pode <span class="font--medium">adicionar</span> ao seu plano:
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-8 col-md-offset-2">
                                <h5 class="title blue box--nomargin font--regular text-center title__select--margin--min font-size--20" style="margin-top: 0px; margin-bottom: 30px;">
                                    Para cuidar dos seus bens
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="oferta in ofertasAssistencias">

                            <box-flip ischeckbox="{{oferta.id}}" name="{{oferta.id}}" type="min">
                                <input type="checkbox" class="boxflip__checkbox___input" id="f{{oferta.id}}" ng-click="selecionaAssistencia(oferta)" />
                                <label class="boxflip__checkbox" for="f{{oferta.id}}">
                                    <div class="pull-left boxflip__checkbox__icon--left">
                                        <img src="../images/icon_check.svg" />
                                    </div>
                                    <span></span>
                                    <div class="pull-left boxflip__checkbox__icon--right">
                                        <img src="../images/icon_off.svg" />
                                    </div>
                                </label>
                                <div class="boxflip-flip">
                                    <div class="boxflip__front">
                                        <div class="boxflip__icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" id="svgroot" viewBox="0 0 280 158" width="280" height="158">
                                                <defs>
                                                    <filter id="filtersPicture">
                                                        <feComposite result="inputTo_38" in="SourceGraphic" in2="SourceGraphic" operator="arithmetic" k1="0" k2="1" k3="0" k4="0" />
                                                        <feColorMatrix id="filter_38" type="saturate" values="0" data-filterid="38" />
                                                    </filter>
                                                </defs>
                                                <image class="boxflip__icon__img" x="-60" y="0" width="280" height="158" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{oferta.icone}}" />
                                            </svg>
                                        </div>
                                        <h4 class="boxflip__title">
                                            {{oferta.nome}}
                                        </h4>
                                        <div class="boxflip__info--actived">
                                            <h3 class="boxflip__price text-center">
                                                <span class="font--light font__box--min">R$&nbsp;</span>{{oferta.valor|currency:''}}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="boxflip__back">
                                        <h6 class="boxflip__back__title--blue box--margintop--20">
                                            Como funciona
                                        </h6>
                                        <div class="font--regular">
                                            {{oferta.completa}}
                                        </div>
                                        <h6 class="boxflip__back__title--blue box box--margintop--20">
                                            Franquia
                                        </h6>
                                        <div class="font--regular">
                                            {{cobertura.franquia}}
                                        </div>
                                    </div>
                                </div>
                            </box-flip>
                        </div>
                    </div>
                    <div class="row">
                        <div class="clearfix" style="height: 30px;"></div>
                        <hr class="hr--gray box--margin--40">
                        <div class="col-md-12">
                            <div class="col-md-8 col-md-offset-2">
                                <h4 class="title blue font--regular text-center box--margin--20 font-size--20" style="margin-top: 20px; margin-bottom: 30px;">
                                    Para cuidar de você e da sua família
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="oferta in ofertasAssistencias">
                            <box-flip type="min" ischeckbox="{{oferta.id}}" name="{{oferta.id}}" ng-model="ofertaAssistencia.opcionais[oferta.id]">
                                <input type="checkbox" class="boxflip__checkbox___input" id="a{{oferta.id}}" ng-click="selecionaAssistencia(oferta)" />
                                <label class="boxflip__checkbox" for="a{{oferta.id}}">
                                    <div class="pull-left boxflip__checkbox__icon--left">
                                        <img src="../images/icon_check.svg" />
                                    </div>
                                    <span></span>
                                    <div class="pull-left boxflip__checkbox__icon--right">
                                        <img src="../images/icon_off.svg" />
                                    </div>
                                </label>
                                <div class="boxflip-flip">
                                    <div class="boxflip__front">
                                        <div class="boxflip__icon boxflip__icon--minmargin">
                                            <!--<img src="{{oferta.icone}}" class="boxflip__icon__img" ng-class="{'boxflip__icon__img--disabled' : !ofertaAssistencia.opcionais[oferta.id]}" />-->
                                            <svg xmlns="http://www.w3.org/2000/svg" id="svgroot" viewBox="0 0 160 140" width="160" height="140">
                                                <defs>


                                                    <defs>


                                                        <filter id="filtersPicture">
                                                            <feComposite result="inputTo_38" in="SourceGraphic" in2="SourceGraphic" operator="arithmetic" k1="0" k2="1" k3="0" k4="0" />
                                                            <feColorMatrix id="filter_38" type="saturate" values="0" data-filterid="38" />
                                                        </filter>
                                                    </defs>
                                                    <image class="boxflip__icon__img" x="-40" y="0" width="240" height="170" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{oferta.icone}}" />
                                            </svg>
                                        </div>
                                        <h4 class="boxflip__title line--inherit" ng-class="{'disabled' : !ofertaAssistencia.opcionais[oferta.id]}">
                                            {{oferta.nome}}
                                        </h4>
                                        <div class="boxflip__price text-center font-size--20" style="margin-top: 23px;" ng-class="{'disabled' : !ofertaAssistencia.opcionais[oferta.id]}">
                                            <span class="font--light font__box--min">R$&nbsp;</span>{{oferta.valor|currency:''}}
                                        </div>
                                    </div>
                                    <div class="boxflip__back">
                                        <h6 class="boxflip__back__title--blue box--margintop--50" style="margin-top: 50px !important;">
                                            Como funciona
                                        </h6>
                                        <div class="font--regular">
                                            {{oferta.curta}}
                                        </div>
                                        <h6 class="boxflip__back__title--blue box box--margintop--20">
                                            Franquia
                                        </h6>
                                        <div class="font--regular">
                                            {{oferta.franquia}}
                                        </div>
                                    </div>
                                </div>
                            </box-flip>
                        </div>
                    </div>
                    <div class="row">
                        <div class="clearfix" style="height: 30px;"></div>
                        <hr class="hr--gray box--margin--40">
                        <div class="col-md-12">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="title blue font--regular text-center box--margin--20 font-size--20" style="margin-top: 20px; margin-bottom: 30px;">
                                    Para cuidar dos seus melhores amigos
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="oferta in ofertasAssistencias">
                            <box-flip type="min" ischeckbox="{{oferta.id}}" name="{{oferta.id}}" ng-model="ofertaAssistencia.opcionais[oferta.id]">
                                <input type="checkbox" class="boxflip__checkbox___input" id="pet{{oferta.id}}" ng-click="selecionaAssistencia(oferta)" />
                                <label class="boxflip__checkbox" for="per{{oferta.id}}">
                                    <div class="pull-left boxflip__checkbox__icon--left">
                                        <img src="../images/icon_check.svg" />
                                    </div>
                                    <span></span>
                                    <div class="pull-left boxflip__checkbox__icon--right">
                                        <img src="../images/icon_off.svg" />
                                    </div>
                                </label>
                                <div class="boxflip-flip">
                                    <div class="boxflip__front">
                                        <div class="boxflip__icon boxflip__icon--minmargin">
                                            <!--<img src="{{oferta.icone}}" class="boxflip__icon__img" ng-class="{'boxflip__icon__img--disabled' : !ofertaAssistencia.opcionais[oferta.id]}" />-->
                                            <svg xmlns="http://www.w3.org/2000/svg" id="svgroot" viewBox="0 0 160 140" width="160" height="140">
                                                <defs>


                                                    <defs>


                                                        <filter id="filtersPicture">
                                                            <feComposite result="inputTo_38" in="SourceGraphic" in2="SourceGraphic" operator="arithmetic" k1="0" k2="1" k3="0" k4="0" />
                                                            <feColorMatrix id="filter_38" type="saturate" values="0" data-filterid="38" />
                                                        </filter>
                                                    </defs>
                                                    <image class="boxflip__icon__img" x="-40" y="0" width="240" height="170" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{oferta.icone}}" />
                                            </svg>
                                        </div>
                                        <h4 class="boxflip__title line--inherit" ng-class="{'disabled' : !ofertaAssistencia.opcionais[oferta.id]}">
                                            {{oferta.nome}}
                                        </h4>
                                        <div class="boxflip__price text-center font-size--20" style="margin-top: 23px;" ng-class="{'disabled' : !ofertaAssistencia.opcionais[oferta.id]}">
                                            <span class="font--light font__box--min">R$&nbsp;</span>{{oferta.valor|currency:''}}
                                        </div>
                                    </div>
                                    <div class="boxflip__back">
                                        <h6 class="boxflip__back__title--blue box--margintop--50" style="margin-top: 50px !important;">
                                            Como funciona
                                        </h6>
                                        <div class="font--regular">
                                            {{oferta.curta}}
                                        </div>
                                        <h6 class="boxflip__back__title--blue box box--margintop--20">
                                            Franquia
                                        </h6>
                                        <div class="font--regular">
                                            {{oferta.franquia}}
                                        </div>
                                    </div>
                                </div>
                            </box-flip>
                        </div>
                    </div>
                    <div class="clearfix visible-md visible-sm visible-lg" style="height: 60px;"></div>
                </div>
            </div>
        </div>
        <footer class="footer box__pricing">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 box--nopadding">
                        <h3 class="font--light box--margintop--10 remove header__text--white">
                            O seu plano ficou assim:
                        </h3>
                        <div class="header__text--white font-size--16">
                            Plano: <span class="font--medium">Do seu jeito</span>
                        </div>
                        <div class="header__text--white font-size--16">
                            <span class="font--medium">05</span>
                            <span class="font--regular header__text--orange"> coberturas</span>
                            e
                            <span class="font--medium">10</span>
                            <span class="font--regular header__text--orange"> assistências</span>
                        </div>
                        <div class="header__text--white">
                            <h6 class="font--medium">Esta cotação é válida até 21/01/2017</h6>
                        </div>
                    </div>

                    <div class="col-lg-6 col-lg-offset-2 col-md-8 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-12 box--nopadding">
                        <div class="row box__pricing__actions">
                            <div class="col-lg-2 col-md-2 col-sm-1 col-sm-offset-0 box--nopadding box__pricing--label text-right font-size--14 hidden-xs">
                                Total R$:
                            </div>
                            <div class="col-xs-12 box--nopadding text-center font-size--14 visible-xs">
                                Total R$:
                            </div>
                            <div class="clearfix visible-xs"></div>

                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div class="price__box" ng-class="{'show': !changeValue, 'hidden': changeValue}">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 box--nopadding">
                                                <h2 class="header__text--white--strong box--nomargin box__pricing__price text-center">
                                                    149,90
                                                    <span class="font-size--14 font--light">/mês</span><span class="font-size--20">*</span>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                                <div ng-class="{'show': changeValue, 'hidden': !changeValue}">
                                    <button class="button--background--negative box__pricing__button" type="button" ng-click="recalcular()">
                                        <i class="fa fa-refresh fa-spin" style="margin-right: 10px;"></i> Recalcular
                                    </button>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="text-center" style="margin-top: 5px;">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-8 col-xs-offset-2">
                                            <a class="title__href white font--light" href="">
                                                <div class="col-lg-1 col-lg-offset-0 col-md-2 col-sm-2 col-xs-2 box--nopadding text-right">
                                                    <img src="../images/icon_envelope.svg" />
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 box--nopadding footer__sendmail">
                                                    <u class="title__href__u white font--light visible-sm" ng-click="sendMail.display = 'show'">
                                                        Enviar cotação por <br /> e-mail
                                                    </u>
                                                    <u class="title__href__u white font--light visible-lg visible-md visible-xs" ng-click="sendMail.display = 'show'">
                                                        Enviar cotação por e-mail
                                                    </u>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix visible-xs" style="height: 20px;"></div>
                            <div class="col-lg-4 col-lg-offset-0 col-md-4 col-sm-4 col-xs-10 col-xs-offset-1 box--nopadding pull-left">
                                <button class="button--background--negative box__pricing__button" ng-disabled="changeValue">
                                    Continuar
                                </button>
                                <h5 class="title__href white font--light text-center">
                                    <a ng-href="" ng-click="go('meujeito')" class="title__href font--light white">
                                        <u class="title__href__u white font--light">
                                            Voltar ao passo anterior
                                        </u>
                                    </a>
                                </h5>
                            </div>
                            <div class="clearfx"></div>
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-4 visible-lg" style="padding-right: 30px;">
                                    <h6 class="header__text--white font--regular text-right">
                                        * valor referente ao plano de 12 meses, impostos já inclusos
                                    </h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr class="hr--gray--opacity" style="margin-top: 30px;margin-bottom: 30px;" />
            <div class="row hidden-xs">
                <div class="col-md-9">
                    <div class="col-md-2 box--nomargin box--nopadding">
                        <img src="../images/logo_caixa_branco.svg" height="40" style="margin-top: -4px;" />
                    </div>
                    <div class="col-md-10">
                        <h6 class="font--light box--nomargin white">
                            &copy; Copyrights 2017 Caixa Seguradora - Todos os direitos reservados.
                        </h6>
                        <div class="footer__content font--light white">
                            O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                            Processo SUSEP nº 15414.900040/2016-34.
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <!--<h6 class="font--regular text-right remove--margin">Fale conosco</h6>-->
                    <h6 class="font--light text-right white remove--margin--top remove--margin--bottom">
                        <span class="font--medium">Fale conosco:</span>
                        0800 730 9902
                    </h6>
                    <h6 class="font--light text-right white remove--margin--top remove--margin--bottom">
                        <span class="font--medium">SAC:</span> 0800-730-9901
                    </h6>
                    <h6 class="remove--margin--top white font--light text-right remove--margin--top remove--margin--bottom">
                        <span class="font--medium">Ouvidoria:</span> 0800-702-4240
                    </h6>
                </div>
            </div>
            <div class="row visible-xs">
                <div class="col-md-12 footer__content text-center">
                    <div class="col-md-12">
                        <h6 class="font--regular text-center remove--margin white">Fale conosco</h6>
                        <h4 class="font--light text-center remove--margin--top white">0800 730 9902</h4>
                        <h5 class="font--regular text-center white">
                            <strong>SAC:</strong> 0800-730-9901
                        </h5>
                        <h6 class="remove--margin--top font--regular text-center white">
                            <strong>Ouvidoria:</strong> 0800-702-4240
                        </h6>
                    </div>
                    <div class="clearfix" style="height: 20px;"></div>
                    <h6 class="font--regular white">
                        &copy; Copyrights 2017 Caixa Seguradora <br /> Todos os direitos reservados.
                    </h6>
                    <div class="font--regular white">
                        O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                        Processo SUSEP nº 15414.900040/2016-34.
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <img src="../images/logo-caixaseguradora.png" alt="Logotipo Caixa Seguradora e sua tipografia" />
                </div>
            </div>
        </footer>
    </form>
</div>