<div class="container-fluid header header--auto">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <timeline passo="4"></timeline>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="header__logo header__text--margintop">
                        <!-- Generator: Adobe Illustrator 20.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 189.8 51" style="enable-background:new 0 0 189.8 51;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: #FFFFFF;
                            }

                            .st1 {
                                font-family: 'Alright Sans';
                                font-weight: 300;
                                font-style: normal;
                            }

                            .st2 {
                                font-size: 16px;
                            }

                            .st3 {
                                font-family: 'Alright Sans';
                                font-weight: 500;
                            }

                            .st4 {
                                font-size: 22px;
                            }

                            .st5 {
                                fill: none;
                                stroke: #FFFFFF;
                                stroke-miterlimit: 10;
                            }
</style>
                        <text transform="matrix(1 0 0 1 57.2804 19.23)"><tspan x="0" y="0" class="st0 st1 st2">Plan</tspan><tspan x="32.2" y="0" class="st0 st1 st2">o</tspan></text>
                        <text transform="matrix(1 0 0 1 57.2804 41.23)"><tspan x="0" y="0" class="st0 st3 st4">Do </tspan><tspan x="35.1" y="0" class="st0 st3 st4">s</tspan><tspan x="46.2" y="0" class="st0 st3 st4">eu jei</tspan><tspan x="102.5" y="0" class="st0 st3 st4">t</tspan><tspan x="111.6" y="0" class="st0 st3 st4">o</tspan></text>
                        <polygon class="st5" points="14.1,41.2 26.1,41.2 26.1,31.5 31,31.5 31,41.2 43,41.2 43,26.7 47.8,26.7 28.6,7.2 9.3,26.7
	                                14.1,26.7 " />
                                </svg>
                    </div>

                    <h1 class="header__text--white text-center">
                        {{dadosPessoais.nome}}, agora é só preencher os dados <br />de pagamento e finalizar a sua compra.
                    </h1>
                    <h3 class="header__text--orange text-center">
                        O <span class="font--medium">plano do seu jeito</span> ficou assim
                    </h3>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="lineText text-center">
                    <h3 class="header__text--orange font--medium">
                        <span class="header__text--white">
                            10
                        </span>
                        coberturas
                    </h3>
                </div>
            </div>
            <div class="row resume">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-01.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Incêndio, queda de raio e explosão
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-02.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Danos elétricos
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-03.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Furto, extorsão e roubo
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-04.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Vendaval, furacão, ciclone, tornado, granizo, e fumaça
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-05.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Roubo e furto de equipamentos portáteis
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-06.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Impacto de veículos terrestres e queda de aeronaves
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-07.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Quebra de vidros, espelhos e mármores
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-08.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Perda ou pagamento de aluguel
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-09.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Responsabilidade civil familiar
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-10.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Tumultos, greves e lock-out
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row box--margin">
                <div class="lineText text-center">
                    <h3 class="header__text--orange font--medium">
                        <span class="header__text--white">
                            10
                        </span>
                        assistências
                    </h3>
                </div>
            </div>
            <div class="row resume">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-11.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Chaveiro
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-12.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Eletricista
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-13.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Hidráulica
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-14.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Vidraceiro
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-16.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Transporte de móveis
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-17.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Cursos online
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-18.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Tira-dúvida com professor online
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-19.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Projetos ecoeficientes
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-20.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Consultoria e orientações ambientais
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="resume__icon">
                                        <img src="../../Assets/images/SVGs/ilustracoes_caixa_am_export-22.svg" />
                                    </div>
                                    <div>
                                        <h6 class="resume__text text-center">
                                            Assistência bike
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <hr class="hr--gray--opacity hr--margintop" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row resume">
                            <div class="col-md-5">
                                <h3 class="font--medium">
                                    Seus dados
                                </h3>
                            </div>
                            <div class="col-md-3 col-md-offset-4" style="margin-top: 10px;">
                                <button class="button--background--min--negative" ng-click="go('meujeito/complementares')">
                                    Editar
                                </button>
                            </div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Nome
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosComplementares.nomeCompleto}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    CPF
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosComplementares.cpf}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Data de nascimento
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosComplementares.dataNascimento}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Sexo
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosComplementares.sexo}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Profisssão
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosComplementares.profissao}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Faixa de renda
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosComplementares.faixaDeRenda}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Proprietário do imóvel
                                </h6>
                                <h5 class="font--regular">
                                    <span ng-if="dadosComplementares.eProprietario == 'Não'">
                                        Não
                                    </span>
                                    <span ng-if="!dadosComplementares.eProprietario">
                                        Sim
                                    </span>
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Telefone
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosPessoais.telefone}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    E-mail
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosComplementares.email}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row resume">
                            <div class="col-md-8">
                                <h3 class="font--medium">
                                    Dados do imóvel segurado
                                </h3>
                            </div>
                            <div class="col-md-3" style="margin-top: 10px;">
                                <button class="button--background--min--negative"  ng-click="go('meujeito')">
                                    Editar
                                </button>
                            </div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Tipo
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosPessoais.tipoImovel}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Uso
                                </h6>
                                <h5 class="font--regular">
                                    Habitual
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    CEP
                                </h6>
                                <h5 class="font--regular">
                                    {{dadosPessoais.cep}}
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Endereço
                                </h6>
                                <h5 class="font--regular">
                                    <!--SQN 203 Bloco G Apto 203 - Brasília | DF-->
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Número
                                </h6>
                                <h5 class="font--regular">
                                    <!--203-->
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Bairro
                                </h6>
                                <h5 class="font--regular">
                                    <!--Asa Sul-->
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>

                        <div class="row resume">
                            <div class="col-md-12">
                                <h6 class="font--light">
                                    Cidade/Estado
                                </h6>
                                <h5 class="font--regular">
                                    <!--Brasília-DF-->
                                </h5>
                            </div>
                            <div class="col-md-12"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <hr class="hr--gray--opacity" />
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 class="header__text--white">
                        No total seu seguro ficou <span class="font--medium">R$118,00</span> por ano ou <span class="header__text--orange font--medium">R$</span><span class="price">9,90</span> <span class="header__text--orange font--medium">/mês</span>
                    </h4>
                </div>
            </div>

            <div class="row box--margin">
                <div class="col-md-12 text-center">
                    <h4 class="header__text--white">
                        Validade do plano
                    </h4>
                </div>
                <div class="col-md-12 text-center">
                    <h5 class="header__text--white">
                        Se você fizer o <span class="font--medium">seguro por mais tempo</span> (3 ou 5 anos), o valor fica ainda menor.
                    </h5>
                </div>
                <div class="col-md-4 col-md-offset-4 text-center">
                    <div class="col-md-4">
                        <button class="button--background--min--negative button--background--min--negative--active">
                            1 ano
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="button--background--min--negative">
                            3 anos
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="button--background--min--negative">
                            5 anos
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
<div class="container">
    <div class="row box--margin--20">
        <div class="col-md-4 col-md-offset-4">
            <input-cartao placeholder="Número do cartão" name="cartao" ng-model="pagamento.cartao" maxlength="40" valid="error.cartao.valid" message="{{error.cartao.message}}" />
        </div>
    </div>
    <div class="row box--margin--20">
        <div class="col-md-4 col-md-offset-4">
            <input-nome placeholder="Nome do titular" name="titular" ng-model="pagamento.titular" maxlength="40" valid="error.titularCartao.valid" message="{{error.titularCartao.message}}" />
        </div>
    </div>
    <div class="row box--margin--20">
        <div class="col-md-4 col-md-offset-4">
            <div class="col-md-8 box--nopadding">
                <input-date placeholder="Data de validade" name="dataValidade" ng-model="pagamento.dataValidade" maxlength="12" valid="error.dataNascimento.valid" message="{{error.dataNascimento.message}}" />
            </div>
            <div class="col-md-4 box--nopadding--right">
                <input-nome placeholder="CVV" name="cvv" ng-model="pagamento.cvv" maxlength="4" valid="error.pagamentocvv.valid" message="{{error.pagamentocvv.message}}" />
            </div>
        </div>
    </div>
    <div class="row box--margin--20">
        <div class="col-md-4 col-md-offset-4">
            <select class="font--medium gray--light" id="parcelas" ng-model="dadosComplementares.faixaDeRenda" ng-options="renda for renda in faixaDeRenda" ng-class="{'alertInput' : !error.faixaDeRenda.valid}" ng-init="error.faixaDeRenda.valid = true">
                <option selected value="">
                    Número de parcelas
                </option>
            </select>
            <label class="select--round" for="renda">
                <i class="fa fa-angle-down"></i>
            </label>
        </div>
    </div>
    <div class="row box--margin--20">
        <div class="col-md-4 col-md-offset-4">
            <div class="col-md-2 box--nopadding" style="padding-top: 16px;">
                <u>Voltar</u>
            </div>
            <div class="col-md-10 box--nopadding--right">
                <button class="button--background" ng-click="go('meujeito/sucesso')">
                    Comprar
                </button>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row hidden-xs">
        <div class="col-md-2">
            <img src="../Assets/images/logo-caixaseguradora.png" alt="Logotipo Caixa Seguradora e sua tipografia" />
        </div>
        <div class="col-md-7">
            <h6 class="font--regular">
                &copy; Copyrights 2017 Caixa Seguradora - Todos os direitos reservados.
            </h6>
            <div class="footer__content font--regular">
                O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                Processo SUSEP nº 15414.900040/2016-34.
            </div>
        </div>
        <div class="col-md-3">
            <!--<h6 class="font--regular text-right remove--margin">Fale conosco</h6>-->
            <h6 class="font--regular text-right remove--margin--top">
                <strong>Fale conosco:</strong>
                0800 730 9902
            </h6>
            <h6 class="font--regular text-right">
                <strong>SAC:</strong> 0800-730-9901
            </h6>
            <h6 class="remove--margin--top font--regular text-right">
                <strong>Ouvidoria:</strong> 0800-702-4240
            </h6>
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-md-12 footer__content text-center">
            <div class="col-md-12">
                <h6 class="font--regular text-center remove--margin">Fale conosco</h6>
                <h4 class="font--light text-center remove--margin--top">0800 730 9902</h4>
                <h5 class="font--regular text-center">
                    <strong>SAC:</strong> 0800-730-9901
                </h5>
                <h6 class="remove--margin--top font--regular text-center">
                    <strong>Ouvidoria:</strong> 0800-702-4240
                </h6>
            </div>
            <div class="clearfix" style="height: 20px;"></div>
            <h6 class="font--regular">
                &copy; Copyrights 2017 Caixa Seguradora <br /> Todos os direitos reservados.
            </h6>
            <div class="font--regular">
                O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                Processo SUSEP nº 15414.900040/2016-34.
            </div>
        </div>
        <div class="col-md-12 text-center">
            <img src="../Assets/images/logo-caixaseguradora.png" alt="Logotipo Caixa Seguradora e sua tipografia" />
        </div>
    </div>
</footer>