<div class="container-fluid header header--auto header--position--relative header--paddingnobottom" scrolling-to-top>
    <div class="header__svg--left header__svg--left--bottom" style="width: 20%;">
        <img src="../images/fundo_grafismo_esquerda.svg" height="250" />
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <timeline passo="4"></timeline>
                </div>
                <div class="col-md-10 col-md-offset-1">
                    <div class="header__logo--min">
                        <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 189.8 51" style="enable-background:new 0 0 189.8 51;" xml:space="preserve" height="44">
                        <text transform="matrix(1 0 0 1 57.2804 19.23)"><tspan x="0" y="0" class="st0 st1 st2">Plan</tspan><tspan x="32.2" y="0" class="st0 st1 st2">o</tspan></text>
                        <text transform="matrix(1 0 0 1 57.2804 41.23)"><tspan x="0" y="0" class="st0 st3 st4">Do </tspan><tspan x="35.1" y="0" class="st0 st3 st4">s</tspan><tspan x="46.2" y="0" class="st0 st3 st4">eu jei</tspan><tspan x="102.5" y="0" class="st0 st3 st4">t</tspan><tspan x="111.6" y="0" class="st0 st3 st4">o</tspan></text>
                        <polygon class="st5" points="14.1,41.2 26.1,41.2 26.1,31.5 31,31.5 31,41.2 43,41.2 43,26.7 47.8,26.7 28.6,7.2 9.3,26.7
	                                14.1,26.7 " />
                        </svg>

                    </div>

                    <h2 class="header__text--white text-center">
                        {{dadosPessoais.primeiroNome}}, agora é só preencher os dados <br />de pagamento e finalizar a sua compra.
                    </h2>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-12">

                <h3 class="header__text--orange text-center box--margintop--20">
                    <!--O <span class="font--medium">plano do seu jeito</span> ficou assim-->
                    <span class="font--light">
                        Veja <u class="font--medium cursor--pointer"  ng-click="resume.collapse = !resume.collapse">aqui</u> como seu plano ficou
                    </span>
                    <i class="fa fa-angle-down" style="margin-left: 10px;" ng-show="!resume.collapse"></i>
                    <i class="fa fa-angle-up" style="margin-left: 10px;" ng-show="resume.collapse"></i>
                </h3>

                <div class="row" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="lineText text-center box--margintop--20">
                        <h4 class="header__text--orange font--regular">
                            <span class="white font--medium">
                                10
                            </span>
                            coberturas
                        </h4>
                    </div>
                </div>
                <div class="row resume" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-01.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Incêndio, queda de raio e explosão
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-02.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Danos elétricos
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-03.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Furto, extorsão e roubo
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-04.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Vendaval, furacão, ciclone, tornado, granizo, e fumaça
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-05.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Roubo e furto de equipamentos portáteis
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-06.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Impacto de veículos terrestres e queda de aeronaves
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-07.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Quebra de vidros, espelhos e mármores
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-08.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Perda ou pagamento de aluguel
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-09.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Responsabilidade civil familiar
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-10.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Tumultos, greves e lock-out
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row box--margintop--20" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="lineText text-center">
                        <h4 class="header__text--orange font--regular">
                            <span class="header__text--white font--medium">
                                10
                            </span>
                            assistências
                        </h4>
                    </div>
                </div>
                <div class="row resume" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-11.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Chaveiro
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-12.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Eletricista
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-13.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Hidráulica
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-14.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Vidraceiro
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-16.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Transporte de móveis
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-17.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Cursos online
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-18.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Tira-dúvida com professor online
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-19.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Projetos ecoeficientes
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-20.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Consultoria e orientações ambientais
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="resume__icon">
                                            <img src="../images/SVGs/ilustracoes_caixa_am_export-22.svg" />
                                        </div>
                                        <div>
                                            <h6 class="resume__text text-center">
                                                Assistência bike
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row box--margintop--20" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="lineText text-center">
                        <h4 class="header__text--orange font--regular">
                            <span class="header__text--white font--medium">
                                Seus Dados
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row resume" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="col-lg-2 pull-right" style="margin-top: 10px;">
                        <button class="button--background--min--negative pull-right" ng-click="go('meujeito/complementares')">
                            Editar
                        </button>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Nome completo
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.nomeCompleto}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    CPF
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.cpf}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Data de nascimento
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.dataNascimento}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Sexo
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.sexo}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Profissão
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.profissao}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Faixa de renda
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.faixaDeRenda}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Proprietário do imóvel
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    <span ng-if="dadosComplementares.eProprietario == 'Não'">
                                        Não
                                    </span>
                                    <span ng-if="!dadosComplementares.eProprietario">
                                        Sim
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Telefone
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.telefone}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    E-mail
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.email}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row box--margintop--20" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="lineText text-center">
                        <h4 class="header__text--orange font--regular">
                            <span class="header__text--white font--medium">
                                Proprietário
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row resume" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="col-lg-2 pull-right" style="margin-top: 10px;">
                        <button class="button--background--min--negative pull-right" ng-click="go('meujeito/complementares')">
                            Editar
                        </button>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Nome completo
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.proprietario.nomeCompleto}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    CPF
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.proprietario.cpf}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row box--margintop--20" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="lineText text-center">
                        <h4 class="header__text--orange font--regular">
                            <span class="header__text--white font--medium">
                                Dados do imóvel
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row resume" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="col-lg-2 pull-right" style="margin-top: 10px;">
                        <button class="button--background--min--negative pull-right" ng-click="go('meujeito')">
                            Editar
                        </button>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Tipo
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosPessoais.tipoImovel}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Uso
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    Habitual
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    CEP
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosPessoais.cep}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Endereço
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosPessoais.endereco.endereco}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Número
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosPessoais.endereco.numero}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Bairro
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosPessoais.endereco.bairro}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Cidade/Estado
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosPessoais.endereco.cidade}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row box--margintop--20" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="lineText text-center">
                        <h4 class="header__text--orange font--regular">
                            <span class="header__text--white font--medium">
                                Correspondência
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="row resume" ng-init="resume.collapse = false" ng-hide="!resume.collapse">
                    <div class="col-lg-2 pull-right" style="margin-top: 10px;">
                        <button class="button--background--min--negative pull-right" ng-click="go('meujeito/complementares')">
                            Editar
                        </button>
                    </div>

                    <div class="col-lg-12">
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    CEP
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.correspondencia.cep}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Endereço
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.correspondencia.endereco}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Número
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.correspondencia.numero}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Bairro
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.correspondencia.bairro}}
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 box--margintop--20">
                            <div class="col-lg-12">
                                <h6 class="font--light box--margin--6">
                                    Cidade
                                </h6>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="font--regular box--margin--6">
                                    {{dadosComplementares.correspondencia.cidade}}
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <hr class="hr--gray--opacity hr--margin--min" />
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="header__text--white">
                            No total seu seguro ficou <span class="font--medium">R$118,00</span> por ano ou <span class="header__text--orange font--regular">R$ </span><span class="price font-size--36">9,90</span> <span class="header__text--orange font--regular">/mês</span>
                        </h4>
                    </div>
                </div>

                <div class="row box--margin--20">
                    <div class="col-md-12 text-center">
                        <h4 class="header__text--white box--nomargin">
                            Validade do plano
                        </h4>
                    </div>
                    <div class="col-md-12 text-center">
                        <h5 class="header__text--white box--margin--10">
                            Se você fizer o <span class="font--medium">seguro por mais tempo</span> (3 ou 5 anos), o valor fica ainda menor.
                        </h5>
                    </div>
                    <div class="col-md-4 col-md-offset-4 text-center box--margintop--10">
                        <div class="col-md-4">
                            <button class="button--background--min--negative button--background--min--negative--active">
                                1 ano
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="button--background--min--negative">
                                3 anos
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="button--background--min--negative">
                                5 anos
                            </button>
                        </div>
                        <div class="clearfix" style="height: 80px;"></div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="header__svg--right header__svg--right--bottom" style="width: 18%;">
        <img src="../images/fundo_grafismo_direita.svg" />
    </div>
</div>
<div class="container">
    <form name="payment">
        <div class="row">
            <div class="col-md-12 box--margintop--50">
                <h3 class="title gray text-center">
                    Insira os dados do seu cartão para concluir o pagamento do seu seguro.
                </h3>
            </div>
        </div>
        <div class="row box--margin--20 box--margintop--60">
            <div class="col-md-4 col-md-offset-4">
                <input-cartao placeholder="Número do cartão" size="medium" name="cartao" cc-number cc-eager-type flag="{{payment.cartao.$ccEagerType}}" ng-model="card.number" maxlength="40" valid="error.cartao.valid" message="{{error.cartao.message}}" />
            </div>
        </div>
        <div class="row box--margin--20">
            <div class="col-md-4 col-md-offset-4">
                <input-nome placeholder="Nome do titular" name="titular" ng-model="pagamento.titular" maxlength="40" valid="error.titularCartao.valid" message="{{error.titularCartao.message}}" />
            </div>
        </div>
        <div class="row box--margin--20">
            <div class="col-md-4 col-md-offset-4">
                <div class="col-md-8 box--nopadding">
                    <input-date placeholder="Data de validade" name="dataValidade" ng-model="pagamento.dataValidade" maxlength="12" valid="error.dataNascimento.valid" message="{{error.dataNascimento.message}}" />
                </div>
                <div class="col-md-4 box--nopadding--right">
                    <input-nome placeholder="CVV" name="cvv" ng-model="pagamento.cvv" maxlength="4" valid="error.pagamentocvv.valid" message="{{error.pagamentocvv.message}}" />
                </div>
            </div>
        </div>
        <div class="row box--margin--20">
            <div class="col-md-4 col-md-offset-4">
                <select class="font--medium gray--light" id="parcelas" ng-model="dadosComplementares.faixaDeRenda" ng-options="renda for renda in faixaDeRenda" ng-class="{'alertInput' : !error.faixaDeRenda.valid}" ng-init="error.faixaDeRenda.valid = true">
                    <option selected value="">
                        Número de parcelas
                    </option>
                </select>
                <label class="select--round" for="renda">
                    <i class="fa fa-angle-down"></i>
                </label>
            </div>
        </div>
        <div class="row box--margin--20">
            <div class="col-md-4 col-md-offset-4">

                <div class="col-md-2 box--nopadding" style="padding-top: 16px;">
                    <a ng-href="" ng-click="go('meujeito/complementares')" class="title__href font--regular">
                        <u class="title__href__u font--regular">
                            Voltar
                        </u>
                    </a>
                </div>
                <div class="col-md-10 box--nopadding--right">
                    <button class="button--background" ng-click="go('meujeito/sucesso')">
                        Comprar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<footer class="footer box--margintop--50">
    <div class="row hidden-xs">
        <div class="col-md-9">
            <div class="col-md-2 box--nomargin box--nopadding">
                <img src="../images/logo_caixa_cor.svg" height="40" style="margin-top: -4px;" />
            </div>
            <div class="col-md-10">
                <h6 class="font--regular box--nomargin gray--light">
                    &copy; Copyrights 2017 Caixa Seguradora - Todos os direitos reservados.
                </h6>
                <div class="footer__content font--regular gray--light">
                    O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                    Processo SUSEP nº 15414.900040/2016-34.
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <!--<h6 class="font--regular text-right remove--margin">Fale conosco</h6>-->
            <h6 class="font--regular text-right remove--margin--top remove--margin--bottom gray--light">
                <span class="font--medium">Fale conosco:</span>
                0800 730 9902
            </h6>
            <h6 class="font--regular text-right remove--margin--top remove--margin--bottom gray--light">
                <span class="font--medium">SAC:</span> 0800-730-9901
            </h6>
            <h6 class="remove--margin--top font--regular text-right remove--margin--top remove--margin--bottom gray--light">
                <span class="font--medium">Ouvidoria:</span> 0800-702-4240
            </h6>
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-md-12 footer__content text-center">
            <div class="col-md-12">
                <h6 class="font--regular text-center remove--margin">Fale conosco</h6>
                <h4 class="font--light text-center remove--margin--top">0800 730 9902</h4>
                <h5 class="font--regular text-center">
                    <strong>SAC:</strong> 0800-730-9901
                </h5>
                <h6 class="remove--margin--top font--regular text-center">
                    <strong>Ouvidoria:</strong> 0800-702-4240
                </h6>
            </div>
            <div class="clearfix" style="height: 20px;"></div>
            <h6 class="font--regular">
                &copy; Copyrights 2017 Caixa Seguradora <br /> Todos os direitos reservados.
            </h6>
            <div class="font--regular">
                O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                Processo SUSEP nº 15414.900040/2016-34.
            </div>
        </div>
        <div class="col-md-12 text-center">
            <img src="../images/logo-caixaseguradora.png" alt="Logotipo Caixa Seguradora e sua tipografia" />
        </div>
    </div>
</footer>