<div class="container-fluid header header--max">
    <div class="header__svg--left" style="width: 25%;">
        <img src="../images/fundo_grafismo_esquerda.svg" />
    </div>
    <div class="row" ng-controller="errorCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="header__logo" style="margin-top: 50px;">
                        <img src="../images/SVGs/ilustracoes_caixa_am_export-37.svg" />
                    </div>
                    <h1 class="header__text--orange text-center box--margintop--50">
                        {{dadosPessoais.nome}}
                    </h1>
                </div>
                <div class="col-md-12">
                    <h4 class="header__text--white text-center">
                        Infelizmente ainda não podemos segurar 
                        <span ng-if="dadosPessoais.error == 'coletiva'">habitação coletiva, como república, pensão ou albergue</span>
                        <span ng-if="dadosPessoais.error == 'madeira'">um imóvel pré fabricado de madeira</span>
                        <span ng-if="dadosPessoais.error == 'patrimonio'">um imóvel tombado pelo patrimônio histórico</span>
                        <span ng-if="dadosPessoais.error == 'rural'">uma propriedade rural</span>
                        <span ng-if="dadosPessoais.error == 'construcao'">um imóvel em construção</span>.
                    </h4>
                    <h5 class="header__text--white text-center font--light">
                        Caso a gente comece a segurar esses locais no futuro, entraremos em contato com você.
                    </h5>
                </div>
            </div>
        </div>

    </div>
    <div class="header__svg--right" style="width: 25%;">
        <img src="../images/fundo_grafismo_direita.svg" />
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="clearfix" style="height: 110px;"></div>
    </div>
</div>
<footer class="footer">
    <div class="row hidden-xs">
        <div class="col-md-2">
            <img src="../images/logo_caixa_cor.svg" />
        </div>
        <div class="col-md-7">
            <h6 class="font--regular">
                &copy; Copyrights 2017 Caixa Seguradora - Todos os direitos reservados.
            </h6>
            <div class="footer__content font--regular">
                O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                Processo SUSEP nº 15414.900040/2016-34.
            </div>
        </div>
        <div class="col-md-3">
            <!--<h6 class="font--regular text-right remove--margin">Fale conosco</h6>-->
            <h6 class="font--regular text-right remove--margin--top">
                <strong>Fale conosco:</strong>
                0800 730 9902
            </h6>
            <h6 class="font--regular text-right">
                <strong>SAC:</strong> 0800-730-9901
            </h6>
            <h6 class="remove--margin--top font--regular text-right">
                <strong>Ouvidoria:</strong> 0800-702-4240
            </h6>
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-md-12 footer__content text-center">
            <div class="col-md-12">
                <h6 class="font--regular text-center remove--margin">Fale conosco</h6>
                <h4 class="font--light text-center remove--margin--top">0800 730 9902</h4>
                <h5 class="font--regular text-center">
                    <strong>SAC:</strong> 0800-730-9901
                </h5>
                <h6 class="remove--margin--top font--regular text-center">
                    <strong>Ouvidoria:</strong> 0800-702-4240
                </h6>
            </div>
            <div class="clearfix" style="height: 20px;"></div>
            <h6 class="font--regular">
                &copy; Copyrights 2017 Caixa Seguradora <br /> Todos os direitos reservados.
            </h6>
            <div class="font--regular">
                O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                Processo SUSEP nº 15414.900040/2016-34.
            </div>
        </div>
        <div class="col-md-12 text-center">
            <img src="../images/logo-caixaseguradora.png" alt="Logotipo Caixa Seguradora e sua tipografia" />
        </div>
    </div>
</footer>