<label class="inputPlace__label" for="{{nameInput}}">
    {{placeholder}}
    <i class="fa fa-check icon--green" ng-show="!message && valid"></i>
    <i class="fa fa-close icon--red" ng-show="message"></i>
    <!--<i class="fa fa-exclamation-triangle icon--yellow" ng-show="valid == 'alert'"></i>-->
    <span class="icon--red" ng-show="message">
        {{message}}
    </span>
    <!--<span class="icon--yellow" ng-show="valid == 'alert'">

    </span>-->
</label>
<input type="{{type}}" value="" class="inputPlace__input" autocomplete="off" id="{{nameInput}}" ng-model="ngModel" ng-focus="outFocus = false" ng-blur="outFocus = true" ng-init="outFocus = false" maxlength="{{maxlength}}" />