<div class="header__timeline">
    <div class="header__timeline__base">
        <div class="header__timeline__base--active" style="width: 0%;"></div>
        <div class="header__timeline__base__bullet header__timeline__base__bullet--1" ng-class="{'header__timeline__base__bullet--active' : passo == '1' || passo == '2' || passo == '3' || passo == '4' || passo == '5'}">
            1
            <div class="header__timeline__base__bullet__label">Dados básicos</div>
        </div>
        <div class="header__timeline__base__bullet header__timeline__base__bullet--2" ng-class="{'header__timeline__base__bullet--active' : passo == '2' || passo == '3' || passo == '4' || passo == '5'}">
            2
            <div class="header__timeline__base__bullet__label">Cobertura e assistências</div>
        </div>
        <div class="header__timeline__base__bullet header__timeline__base__bullet--3" ng-class="{'header__timeline__base__bullet--active' : passo == '3' || passo == '4' || passo == '5'}">
            3
            <div class="header__timeline__base__bullet__label">Dados complementares</div>
        </div>
        <div class="header__timeline__base__bullet header__timeline__base__bullet--4" ng-class="{'header__timeline__base__bullet--active' : passo == '4' || passo == '5'}">
            4
            <div class="header__timeline__base__bullet__label">Pagamento</div>
        </div>
        <div class="header__timeline__base__bullet header__timeline__base__bullet--5" ng-class="{'header__timeline__base__bullet--active' : passo == '5'}">
            5
            <div class="header__timeline__base__bullet__label">Confirmação de compra</div>
        </div>
    </div>
</div>