/*Font Custom*/

@font-face {
    font-family: 'Alright Sans';
    src: url('../fonts/AlrightSans-Light.eot');
    src: url('../fonts/AlrightSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/AlrightSans-Light.woff') format('woff'), url('../fonts/AlrightSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../fonts/AlrightSans-Thin.eot');
    src: url('../fonts/AlrightSans-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/AlrightSans-Thin.woff') format('woff'), url('../fonts/AlrightSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../fonts/AlrightSans-Regular.eot');
    src: url('../fonts/AlrightSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AlrightSans-Regular.woff') format('woff'), url('../fonts/AlrightSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../fonts/AlrightSans-ExtraThin.eot');
    src: url('../fonts/AlrightSans-ExtraThin.eot?#iefix') format('embedded-opentype'), url('../fonts/AlrightSans-ExtraThin.woff') format('woff'), url('../fonts/AlrightSans-ExtraThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../fonts/AlrightSans-MediumItalic.eot');
    src: url('../fonts/AlrightSans-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AlrightSans-MediumItalic.woff') format('woff'), url('../fonts/AlrightSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../fonts/AlrightSans-Bold.eot');
    src: url('../fonts/AlrightSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/AlrightSans-Bold.woff') format('woff'), url('../fonts/AlrightSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alright Sans';
    src: url('../fonts/AlrightSans-Medium.eot');
    src: url('../fonts/AlrightSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AlrightSans-Medium.woff') format('woff'), url('../fonts/AlrightSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*End custom*/

html, body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, u, span {
    font-family: 'Alright Sans', sans-serif;
    text-rendering: optimizeLegibility;
}

.background--gray {
    background: #f8f8f8;
}

.background--white {
    background: #fff;
}

.icon--plus {
    font-size: 140px;
}

.remove--margin {
    margin: 0;
}

.remove--margin--top {
    margin-top: 0;
}

.remove--margin--bottom {
    margin-bottom: 0;
}

.remove--margin--right {
    margin-right: 0;
}

.remove--margin--left {
    margin-right: 0;
}

.container--gray {
    background: #f8f8f8;
    height: 100%;
    width: 100%;
}

.container--white {
    background: #fff;
}

.header {
    background: #733791;
    -moz-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
    position: absolute;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    padding-bottom: 50px;
}

.header--position--relative {
    position: relative;
}

.header--paddingnobottom {
    padding-bottom: 0;
}

.header__svg--left {
    position: absolute;
    z-index: 0;
    width: 30%;
    height: 0;
    float: right;
    left: 0;
    bottom: 60%;
}

.header__svg--left--bottom {
    bottom: 260px;
}

.header__svg--right {
    position: absolute;
    z-index: 0;
    width: 30%;
    height: 0;
    right: 0;
    bottom: 50%;
}

.header__svg--right--bottom {
    bottom: 240px;
}

.header__logo--min {
    width: 174px;
    margin: 0 auto;
    margin-top: 100px;
}

/*SVG style*/

.st0 {
    fill: #FFFFFF;
}

.st1 {
    font-family: 'Alright Sans';
    font-weight: 300;
    font-style: normal;
}

.st2 {
    font-size: 16px;
}

.st3 {
    font-family: 'Alright Sans';
    font-weight: 500;
}

.st4 {
    font-size: 22px;
}

.st5 {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

/*End*/

/*Logo Home - Planos*/

.plano.st0 {
    fill: #733791;
}

.plano.st1 {
    font-family: 'Alright Sans';
    font-weight: 300;
    font-style: normal;
}

.plano.st2 {
    font-size: 16px;
}

.plano.st3 {
    font-family: 'Alright Sans';
    font-weight: 500;
}

.plano.st4 {
    font-size: 22px;
}

.plano.st5 {
    fill: none;
    stroke: #733791;
    stroke-miterlimit: 10;
}

/*End*/

.header--min {
    /*height: 260px;*/
}

.header--max {
    /*height: 280px;*/
}

.header--auto {
    height: auto;
}

.headerFix {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
}

    .headerFix .header__svg--left {
        bottom: 255px;
        opacity: .5 !important;
    }

    .headerFix .header__svg--right {
        bottom: 230px;
        opacity: .5 !important;
    }

.container--main {
    padding-top: 300px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.container--main--min {
    padding: 230px 0 0 0;
    margin: 0 auto;
}

.container--step1 {
    padding-top: 190px;
    margin: 0 auto;
}

.container--step2 {
    padding-top: 266px;
    margin: 0 auto;
}

.container--step3 {
    padding-top: 346px;
    margin: 0 auto;
}

.hr--gray {
    border-color: #e1e1e1;
}

.hr--gray--opacity {
    border-color: #e1e1e1;
    opacity: .3;
}

.hr--margin {
    margin: 70px 0;
}

.hr--margin--min {
    margin: 40px 0;
}

.input--margintop {
    margin-top: 42px;
}

.footer {
    width: 100%;
    background: #ffffff;
    display: block;
    padding: 30px;
    font-family: 'Alright Sans', sans-serif;
    position: relative;
    bottom: -30px;
    z-index: 9;
}

.box--margin--40 {
    margin: 40px 0;
}

.box--margin {
    margin-top: 56px;
    margin-bottom: 66px;
}

.box--margin--6 {
    margin: 6px 0 6px 0 !important;
}

.box--margin--20 {
    margin: 20px 0;
}

.box--margintop--20 {
    margin-top: 28px !important;
}

.box--margintop-20 {
    margin-top: 20px !important;
}

.box--margintop--24 {
    margin-top: 24px !important;
}

.box--margintop--34 {
    margin-top: 40px !important;
    margin-bottom: 40px;
}

.box--margintop--50 {
    margin-top: 50px !important;
}

.box--margintop--60 {
    margin-top: 50px !important;
}

.container--margintop--90 {
    margin-top: 60px;
}

.box--margintop--10 {
    margin-top: 10px !important;
}

.box--nomargin {
    margin: 0;
}

.box--nomargin--top {
    margin-top: 0;
}

.box--nomargin--bottom {
    margin-bottom: 0 !important;
}

.box--nopadding {
    padding: 0;
}

.box--nopadding--right {
    padding-right: 0;
}

.footer__content {
    font-family: 'Alright Sans', sans-serif;
    font-size: 0.688em;
}

.font__box--min {
    font-size: 12px;
}

.footer__sendmail {
    padding-top: 4px;
    font-size: 12px;
    width: 155px;
}

/*DIRECTIVES*/

/*Timeline*/
.header__timeline {
    width: 97%;
    padding: 2%;
    height: 10%;
    position: absolute;
    left: 1%;
    z-index: 5;
}

.header__timeline__base {
    width: 98%;
    height: 1px;
    background: #8c5fa4;
    margin-top: 12px;
}

.header__timeline__base--active {
    background: #ff9140;
    height: 1px;
}

/*Steps nav*/

.header__timeline__base--active--1 {
    width: 1%;
}

.header__timeline__base--active--1-1 {
    width: 4.1%;
}

.header__timeline__base--active--1-2 {
    width: 7%;
}

.header__timeline__base--active--1-3 {
    width: 9.1%;
}

.header__timeline__base--active--1-4 {
    width: 12%;
}

.header__timeline__base--active--1-5 {
    width: 14.1%;
}

.header__timeline__base--active--1-6 {
    width: 17%;
}

.header__timeline__base--active--1-7 {
    width: 19.1%;
}

.header__timeline__base--active--1-8 {
    width: 19.1%;
}

.header__timeline__base--active--1-9 {
    width: 22%;
}

.header__timeline__base--active--2 {
    width: 25%;
}

.header__timeline__base--active--3 {
    width: 51%;
}

.header__timeline__base--active--4 {
    width: 78%;
}

.header__timeline__base--active--5 {
    width: 100%;
}

/*End Steps*/

.header__timeline__base__bullet {
    background: #8c5fa4;
    color: #733791;
    position: absolute;
    top: 57%;
    font-size: 8px;
    padding: 3px 4px 7px 4px;
    font-family: 'Alright Sans', Arial, sans-serif;
    font-weight: 700;
    width: auto;
    height: 14px;
    float: left;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "1num";
    -webkit-font-feature-settings: "1num";
    font-feature-settings: "1num";
}

.header__timeline__base__bullet__label {
    position: absolute;
    width: auto;
    width: 136px;
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    margin-left: -66px;
    margin-top: 7px;
    color: #8c5fa4;
}

.header__timeline__base__bullet--min {
    background: #8c5fa5;
    position: relative;
    top: -3px;
    font-size: 2px;
    padding: 2.5px;
    font-family: 'Alright Sans', Arial, sans-serif;
    width: auto;
    height: auto;
    float: left;
    left: 2%;
    margin-left: 2.1%;
}

.header__timeline__base__bullet--1 {
    left: 2%;
}

.header__timeline__base__bullet--2 {
    left: 25%;
}

.header__timeline__base__bullet--3 {
    left: 50%;
}

.header__timeline__base__bullet--4 {
    left: 75%;
}

.header__timeline__base__bullet--5 {
    left: 96%;
}

.header__timeline__base__bullet--active {
    background: #ff9140;
    cursor: pointer;
}

    .header__timeline__base__bullet--active .header__timeline__base__bullet__label {
        color: #ff9140;
        cursor: pointer;
    }
/*END TIMELINE*/

.header__container {
    margin: 0 auto;
    position: relative;
    top: 120px;
}

.header__logo {
    width: 250px;
    height: 80px;
    margin: 0 auto;
}

.header__text--white {
    color: #fff;
    font-family: 'Alright Sans', Arial, sans-serif;
    font-weight: 100;
    text-rendering: auto;
    line-height: 1.22;
    position: relative;
    z-index: 4;
}

.header__text--orange {
    color: #ef9c00;
    font-family: 'Alright Sans', Arial, sans-serif;
    font-weight: 100;
    text-rendering: auto;
    line-height: 1.22;
    position: relative;
    z-index: 4;
}

.header__text--margintop {
    margin-top: 60px;
}

.header__text--white--strong {
    font-family: 'Alright Sans', Arial, sans-serif;
    font-weight: 500;
}

.section {
    width: 100%;
    height: auto;
    clear: both;
    position: relative;
    z-index: 6;
    margin-bottom: -30px;
}

.title {
    font-family: 'Alright Sans', sans-serif;
    color: #494949;
    text-rendering: optimizeLegibility;
}

.title__href {
    color: #494949;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    cursor: pointer;
}

    .title__href:hover {
        text-decoration: none;
    }

.title__href__u {
    color: #494949;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
}

    .title__href__u:hover {
        color: #ff9140;
        text-decoration: none !important;
    }

.title__select--margin {
    margin-top: 60px;
    margin-bottom: 50px;
}

.title__select--margin--bottom {
    margin-top: 0;
    margin-bottom: 50px;
}

.title__select--margin--min {
    margin-top: 20px;
    margin-bottom: 12px;
}

.title__select--margin--min--40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.title__select--margin--min--30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title--margin--top--bottom {
    margin-bottom: 30px;
    margin-top: 60px;
}

.price {
    font-family: 'Alright Sans', sans-serif;
    color: #fff;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
    font-size: 26px;
}

.box-container {
    padding: 35px 25px;
    background: #fff;
    border: 1px solid #e1e1e1;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.box-container--padding {
    padding: 35px;
}

.box-container:hover {
    border: 1px solid #b9b9b9;
}

.box-container__plain {
    margin: 0 auto 10px auto;
    height: 40px;
}

.box-container__icon {
    margin: 0 auto 10px auto;
    height: 135px;
}

.box-container__description {
    margin: 0 auto;
    font-size: 15px;
    font-family: 'Alright Sans', sans-serif;
    padding: 0 40px;
    text-rendering: optimizeLegibility;
}

.box-container__button {
    margin-top: 25px;
}

/*Placeholdeer*/
input-place {
    display: block;
}

.inputPlace__label {
    font-family: 'Alright Sans', sans-serif;
    color: #b9b9b9;
    font-size: 16px;
    position: absolute;
    z-index: 3;
    font-weight: 500;
    padding: 22px 15px 5px 5%;
    -moz-transition: ease-in-out all .2s;
    -o-transition: ease-in-out all .2s;
    -webkit-transition: ease-in-out all .2s;
    transition: ease-in-out all .2s;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    box-shadow: none;
}

.input--min.inputPlace__label {
    padding: 22px 15px 5px 15%;
}

.input--min.inputPlace__label--actived {
    padding: 0px 15px 9px 7%;
}

.input--medium.inputPlace__label {
    padding: 22px 15px 9px 7%;
}

.input--medium.inputPlace__label--actived {
    padding: 0px 15px 9px 0%;
}

.inputPlace__label--actived {
    color: #b9b9b9;
    font-size: 11px;
    z-index: 3;
    margin-top: 13px;
    margin-left: 5%;
    padding: 0;
    font-weight: 400;
}

.inputPlace__input {
    font-family: 'Alright Sans', sans-serif;
    color: #494949;
    position: relative;
    z-index: 5;
    padding: 27px 15px 9px 5%;
    font-weight: 500;
    width: 100%;
    background-color: transparent;
    border: 1px solid #b9b9b9;
    outline: none;
    font-size: 16px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

    .inputPlace__input:focus {
        border-color: #733791;
    }

.icon--green {
    color: #5ad854;
}

.icon--yellow {
    color: #f5a623;
}

.icon--red {
    color: #d10005;
}

/*Classe de customização da diretiva*/
.input--plus {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
}

/*Botão*/

.button--line {
    padding: 15px 23px;
    width: 100%;
    /*min-width 140px;*/
    border: 2px solid #b9b9b9;
    -moz-transition: ease-in-out all .3s;
    -o-transition: ease-in-out all .3s;
    -webkit-transition: ease-in-out all .3s;
    transition: ease-in-out all .3s;
    background: transparent;
    font-family: 'Alright Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    outline: none;
    color: #b9b9b9;
    /*min-width: 262px;*/
}

    .button--line:hover {
        border: 2px solid #898D8D;
        background: transparent;
        color: #898D8D;
        -moz-transition: ease-in-out .2s;
        -o-transition: ease-in-out .2s;
        -webkit-transition: ease-in-out .2s;
        transition: ease-in-out .2s;
    }

        .button--line:hover img {
            opacity: .8;
        }

    .button--line:active {
        border: 2px solid #f5a623;
        background: #ffffff;
        color: #8c5fa5;
    }

.button--line--active {
    border: 2px solid #f5a623;
    background: #ffffff;
    color: #8c5fa5;
    opacity: 1;
    -moz-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
}

    .button--line--active:hover {
        border: 2px solid #f5a623;
        background: #ffffff;
        color: #8c5fa5;
    }

        .button--line--active:hover img {
            opacity: 1;
        }

.button--line--icon {
    min-width: inherit;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: inherit;
}

    .button--line--icon img {
        height: 170px;
        width: 150%;
        margin-left: -26%;
        position: relative;
        margin-top: 20px;
    }

.button--line--icon__text {
    margin-top: -10px;
    font-size: 1.125em;
    margin-bottom: 30px;
}

.button--line image {
    -moz-filter: url('#filtersPicture');
    -ms-filter: url('#filtersPicture');
    -webkit-filter: url('#filtersPicture');
    filter: url('#filtersPicture');
    opacity: .6;
}

.button--line--active image {
    -moz-filter: none;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.button--line--negative {
    padding: 15px 23px;
    min-width: 140px;
    border: 2px solid #8c5fa4;
    -moz-transition: ease-in-out all .3s;
    -o-transition: ease-in-out all .3s;
    -webkit-transition: ease-in-out all .3s;
    transition: ease-in-out all .3s;
    background: transparent;
    font-family: 'Alright Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    outline: none;
    color: #8c5fa4;
    min-width: 262px;
}

    .button--line--negative:hover {
        border: 2px solid #733791;
        background: transparent;
        color: #733791;
    }

.container--long {
    padding-top: 406px;
}

.button--rounded--slider {
    width: 22px;
    height: 22px;
    border-radius: 20px;
    background: #005fc8;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 0;
    margin-top: 26px;
    outline: none;
}

.button--rounded--slider--margin--min {
    margin-top: 12px;
}

.button--background {
    width: 100%;
    padding: 14px 20px;
    border: none;
    background: #8c5fa4;
    -moz-transition: ease-in-out all .3s;
    -o-transition: ease-in-out all .3s;
    -webkit-transition: ease-in-out all .3s;
    transition: ease-in-out all .3s;
    font-family: 'Alright Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    color: #ffffff;
    text-rendering: geometricPrecision;
}

    .button--background:hover {
        background: #733791;
        color: #fff;
    }

.button--background--max {
    padding: 18px 50px;
    font-size: 16px;
}

.button--background--negative {
    padding: 14px 20px;
    /*min-width: 140px;*/
    border: none;
    background: #ffffff;
    -moz-transition: ease-in-out all .3s;
    -o-transition: ease-in-out all .3s;
    -webkit-transition: ease-in-out all .3s;
    transition: ease-in-out all .3s;
    font-family: 'Alright Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    color: #733791;
    text-rendering: geometricPrecision;
}

    .button--background--negative:disabled {
        opacity: .4;
    }

    .button--background--negative:hover {
        background: #fff;
        color: #8c5fa4;
    }

.button--background--min {
    padding: 14px 20px;
    /*min-width: 140px;*/
    border: none;
    background: #733791;
    -moz-transition: ease-in-out all .3s;
    -o-transition: ease-in-out all .3s;
    -webkit-transition: ease-in-out all .3s;
    transition: ease-in-out all .3s;
    font-family: 'Alright Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    color: #ffffff;
    min-width: 100px;
    text-rendering: geometricPrecision;
}

    .button--background--min:hover {
        background: #8c5fa4;
        color: #fff;
    }

.button--background--min--negative {
    padding: 6px 20px;
    /*min-width: 140px;*/
    border: 1px solid #fff;
    background: transparent;
    -moz-transition: ease-in-out all .3s;
    -o-transition: ease-in-out all .3s;
    -webkit-transition: ease-in-out all .3s;
    transition: ease-in-out all .3s;
    font-family: 'Alright Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    outline: none;
    color: #ffffff;
    text-rendering: geometricPrecision;
}

    .button--background--min--negative:hover {
        background: #fff;
        color: #733791;
    }

.button--background--min--negative--active {
    background: #fff;
    color: #733791;
}

.button--location {
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    margin-top: -35px;
    margin-right: 10px;
    z-index: 6;
    color: #b9b9b9;
}

    .button--location:active {
        color: #733791;
    }

.button--invisible {
    visibility: hidden;
    opacity: 0;
    -moz-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
    -webkit-transition: ease-in-out .5s;
    transition: ease-in-out .5s;
}

.button--visible {
    visibility: visible;
    opacity: 1;
}

.button--checkcep {
    position: relative;
    right: 77px;
    top: 10px;
    padding: 10px;
    width: auto;
    z-index: 60;
}

.checkbox {
    margin: 0;
}

    /* CHECKBOX CSS CUSTOM */
    .checkbox [type="checkbox"]:not(:checked),
    .checkbox [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }

        .checkbox [type="checkbox"]:not(:checked) + label,
        .checkbox [type="checkbox"]:checked + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
        }

            .checkbox [type="checkbox"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 1px;
                width: 16px;
                height: 16px;
                border: 1px solid #ccc;
                background: #fff;
                z-index: 2;
            }

            .checkbox [type="checkbox"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 16px;
                height: 16px;
                background: #fff;
                border: 1px solid #733791;
            }

            .checkbox [type="checkbox"]:not(:checked) + label:after,
            .checkbox [type="checkbox"]:checked + label:after {
                content: '\f00c';
                font-family: FontAwesome, sans-serif;
                position: absolute;
                top: 2px;
                left: 1px;
                font-size: 14px;
                line-height: 0.8;
                color: #733791;
                -moz-transition: all .2s;
                -o-transition: all .2s;
                -webkit-transition: all .2s;
                transition: all .2s;
            }

            .checkbox [type="checkbox"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }

            .checkbox [type="checkbox"]:checked + label:after {
                opacity: 1;
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
    .checkbox [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }

    .checkbox [type="checkbox"]:disabled:checked + label:after {
        color: #999;
    }

    .checkbox [type="checkbox"]:disabled + label {
        color: #aaa;
    }

    .checkbox [type="checkbox"]:checked:focus + label:before,
    .checkbox [type="checkbox"]:not(:checked):focus + label:before {
        border: 1px solid #733791;
    }

    .checkbox label:hover:before {
        border: 1px solid #ddd !important;
    }

/*Radio Button*/
.radio {
    margin-bottom: 0px;
    height: 10px;
    padding-left: 0px;
    padding-right: 0;
}

    .radio [type="radio"]:not(:checked),
    .radio [type="radio"]:checked {
        position: absolute;
        left: -9999px;
        margin-left: 5px;
        margin-top: 0px;
    }

        .radio [type="radio"]:not(:checked) + label,
        .radio [type="radio"]:checked + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
        }

            .radio [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: -6px;
                width: 20px;
                height: 20px;
                border: 1px solid #ccc;
                background: #fff;
                border-radius: 10px;
                z-index: 2;
            }

            .radio [type="radio"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                top: -4px;
                width: 20px;
                height: 20px;
                background: #fff;
                border: 1px solid #733791;
                border-radius: 10px;
            }

            .radio [type="radio"]:not(:checked) + label:after,
            .radio [type="radio"]:checked + label:after {
                content: '\f111';
                font-family: FontAwesome, sans-serif;
                position: absolute;
                top: 1px;
                left: 12%;
                font-size: 14px;
                line-height: 0.8;
                color: #733791;
                -moz-transition: all .2s;
                -o-transition: all .2s;
                -webkit-transition: all .2s;
                transition: all .2s;
            }

            .radio [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }

            .radio [type="radio"]:checked + label:after {
                opacity: 1;
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .radio [type="radio"]:disabled:not(:checked) + label:before,
    .radio [type="radio"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }

    .radio [type="radio"]:disabled:checked + label:after {
        color: #999;
    }

    .radio [type="radio"]:disabled + label {
        color: #aaa;
    }

    .radio [type="radio"]:checked:focus + label:before,
    .radio [type="radio"]:not(:checked):focus + label:before {
        border: 1px solid #733791;
    }

    .radio label:hover:before {
        border: 1px solid #ddd !important;
    }

.radio--min {
    margin-bottom: 0px;
    height: 10px;
    padding-left: 0px;
    padding-right: 0;
}

    .radio--min [type="radio"]:not(:checked),
    .radio--min [type="radio"]:checked {
        position: absolute;
        left: -9999px;
    }

        .radio--min [type="radio"]:not(:checked) + label,
        .radio--min [type="radio"]:checked + label {
            position: relative;
            padding-left: 35px;
            cursor: pointer;
        }

            .radio--min [type="radio"]:not(:checked) + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: -1px;
                width: 16px;
                height: 16px;
                border: 1px solid #ccc;
                background: #fff;
                border-radius: 10px;
            }

            .radio--min [type="radio"]:checked + label:before {
                content: '';
                position: absolute;
                left: 0;
                top: -1px;
                width: 16px;
                height: 16px;
                background: #fff;
                border: 1px solid #733791;
                border-radius: 10px;
            }

            .radio--min [type="radio"]:not(:checked) + label:after,
            .radio--min [type="radio"]:checked + label:after {
                content: '\f111';
                font-family: FontAwesome, sans-serif;
                position: absolute;
                top: 4px;
                left: 9%;
                font-size: 11px;
                line-height: 0.8;
                color: #733791;
                -moz-transition: all .2s;
                -o-transition: all .2s;
                -webkit-transition: all .2s;
                transition: all .2s;
            }

            .radio--min [type="radio"]:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }

            .radio--min [type="radio"]:checked + label:after {
                opacity: 1;
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                -webkit-transform: scale(1);
                transform: scale(1);
            }

    .radio--min [type="radio"]:disabled:not(:checked) + label:before,
    .radio--min [type="radio"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }

    .radio--min [type="radio"]:disabled:checked + label:after {
        color: #999;
    }

    .radio--min [type="radio"]:disabled + label {
        color: #aaa;
    }

    .radio--min [type="radio"]:checked:focus + label:before,
    .radio--min [type="radio"]:not(:checked):focus + label:before {
        border: 1px solid #733791;
    }

    .radio--min label:hover:before {
        border: 1px solid #ddd !important;
    }


.radio__label {
    color: #494949;
    position: relative;
    margin-top: 7px;
}

.radio__label--max {
    color: #494949;
    position: relative;
    margin-top: 8px;
}

/*.radio__label label{
    margin-bottom: 0;
}*/

/*BOX FLIP*/
/*
    Cor azul range: 005fc8
    Cor azul forte range: 0039ba
    Cor azul hover range: 4187d7
*/

.boxflip {
    height: 390px;
    border: 1px solid #e1e1e1;
    display: inline-block;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: .6s;
    -o-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
    margin-top: 25px;
}

.boxflip-flip {
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: .6s;
    -o-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
}

.boxflip--disabled .boxflip__title {
    color: #8c9093;
}

.boxflip--disabled .boxflip__back__description {
    color: #8c9093;
}

.boxflip--disabled .boxflip__description {
    color: #8c9093;
}

.boxflip--disabled .boxflip__front {
    background: #fcfbfb;
}

.disabled {
    color: #8c9093 !important;
}

.boxflip--min {
    height: 270px;
}

.boxflip--flipper {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: .6s;
    -o-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
    position: relative;
}

    .boxflip--flipper.boxflip--min .boxflip__back__title {
        margin-top: 50px;
    }

.boxflip__checkbox {
    width: 40px;
    height: 21px;
    border-radius: 30px;
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 16px;
    z-index: 22;
}

input[type="checkbox"].boxflip__checkbox___input:checked + label {
    background: #006bb6;
}

input[type="checkbox"].boxflip__checkbox___input:not(:checked) + label {
    background: #b9b9b9;
}

    input[type="checkbox"].boxflip__checkbox___input:not(:checked) + label span {
        background: #fff;
        display: block;
        border-radius: 30px;
        width: 17px;
        height: 17px;
        position: relative;
        left: 2px;
        top: 2px;
        -moz-transition: all ease-in-out .4s;
        -o-transition: all ease-in-out .4s;
        -webkit-transition: all ease-in-out .4s;
        transition: all ease-in-out .4s;
    }

input[type="checkbox"].boxflip__checkbox___input:checked + label span {
    background: #fff;
    display: block;
    border-radius: 30px;
    width: 17px;
    height: 17px;
    position: relative;
    left: 21px;
    top: 2px;
    -moz-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    -webkit-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
}

input[type="checkbox"].boxflip__checkbox___input {
    display: none;
}

.boxflip__checkbox__icon--left {
    position: absolute;
    left: 5px;
    top: -1px;
    color: #fff;
}

.boxflip__checkbox__icon--right {
    position: absolute;
    right: 4px;
    margin-top: -17px;
    color: #fff;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.boxflip__front {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transition: .6s;
    -o-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0 30px;
    background: #fff;
    height: 100%;
}

.boxflip--disabled .boxflip__back__title--blue {
    color: #8c9093;
}

.boxflip .rzslider {
    margin: 20px 0 15px 0;
}

.boxflip__back {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transition: .6s;
    -o-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 0 30px;
    background: #fff;
    height: 100%;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.boxflip--flipper .boxflip__back {
    -moz-transform: rotateY(179deg);
    -ms-transform: rotateY(179deg);
    -o-transform: rotateY(179deg);
    -webkit-transform: rotateY(179deg);
    transform: rotateY(179deg);
}

.boxflip__back__title {
    position: relative;
    margin-top: 70px;
    margin-bottom: 20px;
    height: 38px;
    margin-top: 18%;
}

.boxflip__back__title--blue {
    color: #005fc8;
}

.boxflip__back__description {
    padding: 15px 0;
}

.boxflip__description {
    padding: 0;
}

.boxflip--flipper .boxflip__front {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.boxflip__icon {
    width: 160px;
    height: 140px;
    display: block;
    margin: 20px auto 0px auto;
    overflow: hidden;
}

.boxflip__icon--minmargin {
    margin-top: 12px;
}

.boxflip__icon__img {
    /*width: 280px;
    position: relative;
    left: -60px;*/
    -moz-filter: none;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
}

.boxflip__icon__img--disabled {
    -moz-filter: url('#filtersPicture');
    -ms-filter: url('#filtersPicture');
    -webkit-filter: url('#filtersPicture');
    filter: url('#filtersPicture');
    opacity: .7;
}

.boxflip__title {
    font-weight: 500;
    height: 40px;
    margin-bottom: 0;
    color: #494949;
}

.boxflip__label {
    margin-top: 20px;
}

.boxflip__label--light {
    font-weight: 300;
}

.boxflip__paragraph {
    font-size: 11px;
}

.boxflip__price {
    font-family: 'Alright Sans', sans-serif;
    font-weight: 500;
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "1num";
    -webkit-font-feature-settings: "1num";
    font-feature-settings: "1num";
    margin-top: 15px;
}

.boxflip__price__dollar {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.boxflip__footer {
    width: 100%;
    position: absolute;
    top: 0;
}

.boxflip__footer--min {
    top: -120px;
}

.boxflip__button {
}

    .boxflip__button::before {
        content: "";
        width: 53px;
        height: 35px;
        border-top: 47px solid transparent;
        border-right: 53px solid #ff9141;
        border-bottom: 0px solid transparent;
        border-left: 0px solid transparent;
        position: absolute;
        margin-top: -18px;
        cursor: pointer;
        top: 385px;
        right: 31px;
    }

    .boxflip__button::after {
        content: "\f129";
        position: absolute;
        right: 41px;
        font-family: FontAwesome, sans-serif;
        top: 388px;
        color: #fff;
        cursor: pointer;
    }

.boxflip__button--back::before {
    content: "";
    width: 53px;
    height: 35px;
    border-top: 47px solid transparent;
    border-right: 53px solid #005fc8;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    position: absolute;
    margin-top: -18px;
    cursor: pointer;
    top: 385px;
    right: 31px;
}

.boxflip__button--back::after {
    background-image: url(../images/icon_seta.svg);
    width: 18px;
    height: 26px;
    content: "";
    background-repeat: no-repeat;
    background-position: 5px 4px;
}

.boxflip__button--disabled::before {
    content: "";
    width: 53px;
    height: 35px;
    border-top: 47px solid transparent;
    border-right: 53px solid #e8e8e8;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    position: absolute;
    margin-top: -18px;
    cursor: pointer;
    top: 385px;
    right: 31px;
}

.boxflip__button--disabled::after {
    content: "";
    position: absolute;
    font-family: FontAwesome, sans-serif;
    color: #fff;
    cursor: pointer;
    margin-left: 180px;
    top: 390px;
}

.boxflip--min .boxflip__button::before {
    top: 240px;
}

.boxflip--min .boxflip__button::after {
    top: 240px;
}

.boxflip--min .boxflip__button--disabled::before {
    top: 240px;
}

.boxflip--min .boxflip__button--disabled::after {
    top: 240px;
}

.boxflip--flipper .boxflip__button::before {
    border-right-color: #005fc8;
}

.boxflip__info--visible {
    -moz-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
    display: block;
    opacity: 1;
}

.boxflip__info--invisible {
    display: none;
    opacity: 0;
    -moz-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
    height: 0;
}

/*Slider*/

.rzslider .rz-bar {
    background: #e8e8e8;
    height: 6px;
    border-radius: 5px;
}

.rzslider .rz-selection {
    background: #0039ba;
}


.rzslider .rz-pointer {
    background-color: #005fc8;
    height: 20px;
    width: 20px;
    top: -8px;
    outline: none;
}

    .rzslider .rz-pointer:hover:after {
        width: 0;
        height: 0;
    }

    .rzslider .rz-pointer:after {
        background-color: #005fc8;
        width: 0;
        height: 0;
    }

.slider--invisible {
    visibility: hidden;
    opacity: 0;
    -moz-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
}

.slider--visible {
    -moz-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
    visibility: visible;
    opacity: 1;
}

select {
    padding: 15px;
    width: 100%;
    background: none;
    font-family: 'Alright Sans', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    z-index: 3;
    border: 1px solid #b9b9b9;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 60px;
    color: #b9b9b9;
}

    select option {
        color: #8c9093;
    }

        select option:checked {
            color: #494949;
        }

.select--round {
    position: relative;
    float: right;
    margin-top: -43px;
    font-size: 20px;
    z-index: 2;
    color: #b9b9b9;
    right: 20px;
}

/*Modals*/

.modals__background {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

.modals {
    width: 960px;
    height: 90%;
    background: #ffffff;
    position: relative;
    z-index: 20;
    left: 50%;
    margin-left: -480px;
    top: 5%;
}

.modals__header {
    height: 190px;
    width: 100%;
    background: #733791;
}

.modals__header__grafismo--left {
    width: 17%;
    top: 40px;
}

.modals__header__grafismo--right {
    width: 17%;
    top: 35px;
}

.modals__header__title {
    position: relative;
    margin-top: 45px;
    color: #ffffff;
}

.modals__close {
    position: relative;
    margin-right: 0;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}

/*END DIRECTIVES    */

.box__pricing {
    background: #733791;
    color: #fff;
}

.price__box {
    background: #500778;
    padding: 13px 10px;
    width: 95%;
}

.price__box--text {
    padding: 15px 30px 11px 40px;
}

.box__pricing--label {
    position: relative;
    margin-top: 23px;
    margin-left: 50px;
}

.box__pricing__price {
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "1num";
    -webkit-font-feature-settings: "1num";
    font-feature-settings: "1num";
}

.box__pricing__button {
    padding: 18px 50px;
    font-size: 16px;
    font-weight: 500;
    width: 95%;
}

    .box__pricing__button:hover {
        opacity: .7;
    }

.box__pricing__actions--inative {
    opacity: .2;
}

    .box__pricing__actions--inative:hover {
        opacity: .2;
    }

.box__pricing__actions {
    margin-top: 15px;
}

.step3 {
    margin-top: 20px;
}

.checkbox__label {
    margin-top: 10px;
    font-family: 'Alright Sans', Arial, sans-serif;
}

.checkbox__label--negative {
    margin-top: -5px;
    font-family: 'Alright Sans', Arial, sans-serif;
}

.gray {
    color: #494949;
}

.gray--blue {
    color: #313e47;
}

.gray--light {
    color: #7a7a7a;
}

.roxo {
    color: #733791;
}

.roxo--light {
    color: #8c5fa5;
}

.blue {
    color: #1c60ab;
}

.white {
    color: #ffffff;
}

.line--inherit {
    line-height: inherit;
}

.alertInput {
    border-color: #ff9141;
}

.condicoes {
    font-family: 'Alright Sans', Calibri, sans-serif;
    font-size: 12px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 270px;
    margin-top: 20px;
    margin-bottom: 40px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

    .condicoes::-webkit-scrollbar-track {
        background: transparent;
    }

    .condicoes::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .condicoes::-webkit-scrollbar-thumb {
        background-color: #e8e8e8;
    }

.creditCard {
    position: absolute;
    right: 28px;
    top: 14px;
}

.lineText {
    width: 100%;
}

    .lineText::before {
        content: "";
        position: absolute;
        left: 0%;
        height: 1px;
        opacity: .3;
        width: 42%;
        background: #e1e1e1;
        margin-top: 10px;
    }

    .lineText::after {
        content: "";
        position: absolute;
        right: 0%;
        height: 1px;
        opacity: .3;
        width: 42%;
        background: #e1e1e1;
        margin-top: -20px;
    }

.font--light {
    font-family: 'Alright Sans', Calibri, sans-serif;
    font-weight: 300;
}

.font--medium {
    font-family: 'Alright Sans', Calibri, sans-serif;
    font-weight: 500;
}

.font--regular {
    font-family: 'Alright Sans', Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.font-size--10 {
    font-size: 10px;
    line-height: inherit;
}

.font-size--16 {
    font-size: 16px;
    line-height: inherit;
}

.font-size--36 {
    font-size: 36px;
    line-height: inherit;
}

.font-size--14 {
    font-size: 14px;
    line-height: inherit;
}

.resume {
    color: #fff;
}

.resume__icon {
    width: 120%;
    height: 130px;
    margin-left: -25%;
    padding-top: 10px;
}

    .resume__icon img {
        height: 100%;
        width: 120%;
    }

.resume__text {
    color: #fff;
    margin-top: -10px;
}

.resume h5 {
    -ms-word-break: break-word;
    word-break: break-word;
}

.resume__item {
    min-height: 180px;
}

.font-size--20 {
    font-size: 20px;
}

.cursor--pointer {
    cursor: pointer;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .container--step1 {
        padding-top: 290px;
    }

        .container--step1 .title__select--margin {
            margin-bottom: 0;
        }

    .container--step2 {
        padding-top: 326px;
    }

    .container--step3 {
        padding-top: 486px;
    }

    .box-container {
        margin: 40px 10px;
    }

    .box-container__description {
        padding: 0;
        font-size: 0.938em;
    }

    .header__text--margintop {
        margin-top: 70px;
    }

    .footer__content {
        color: #9b9b9b;
        margin: 30px 0;
    }

    /*TIMELINE*/
    .header__timeline {
        width: 100%;
        left: 2%;
        top: 20px;
    }

    .header__timeline__base__bullet {
        top: 10px;
    }

    .header__timeline__base__bullet__label {
        display: none;
    }

    .header__timeline__base__bullet--1 {
        left: 0%;
    }

    .header__timeline__base__bullet--5 {
        left: 95%;
    }

    /*BOTÕES*/

    .button--background {
        min-width: inherit;
        padding: 9px;
        font-weight: 500;
    }

    .title {
        font-size: 1.250em;
    }

    .title__select--margin {
        margin-top: 40px;
    }

    .boxflip__back__title--blue {
        margin-top: 50px;
    }

    .lineText::before {
        width: 32%;
    }

    .lineText::after {
        width: 32%;
    }

    .button--line--icon svg {
        margin-left: -12px;
    }

    .header__timeline__base__bullet--min {
        margin-left: 1%;
    }

    .container--margintop--90 {
        margin-top: 80px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    .header__svg--left {
        width: 100%;
        top: -20px !important;
    }

        .header__svg--left img {
            width: 100%;
        }

    .header__svg--right {
        width: 100%;
        top: 15px !important;
    }

        .header__svg--right img {
            width: 100%;
        }

    .boxflip__button--disabled::after {
        margin-left: 100px;
    }

    .boxflip__info--visible {
        margin-top: 50px;
    }

    .boxflip__back__title--blue {
        margin-top: 50px;
    }

    .lineText::before {
        width: 40%;
    }

    .lineText::after {
        width: 40%;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
}
