<div class="container-fluid header header--min" scrolling-to-steps>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <timeline passo="1"></timeline>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="header__logo header__text--margintop"></div>
                    <h1 class="header__text--white text-center">
                        Olá, somos a <span class="header__text--white--strong">Caixa seguradora</span>.
                    </h1>
                    <h3 class="header__text--white text-center">
                        Você poderia nos dizer o seu nome?
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="section">
    <div class="container container--main" ng-controller="dadosPessoaisCtrl">
        <form novalidate ng-submit="validarNome()">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <input-nome placeholder="Nome" type="text" name="Nome" ng-model="dadosPessoais.nome" maxlength="40" valid="error.nome.valid" message="{{error.nome.message}}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center input--margintop">
                    <button class="button--background" ng-hide="steps.passo2">
                        Continuar
                    </button>
                </div>
            </div>
        </form>
        <form novalidate ng-submit="validarTelefoneOuEmail()">
            <div class="row" ng-if="steps.passo2" scrolling-to-steps>
                <hr class="hr--gray hr--margintop" />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="font--regular">
                            Também precisamos que você informe um telefone ou um e-mail:
                        </h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4 input--margintop">
                        <input-email placeholder="E-mail" type="text" name="email" ng-model="dadosPessoais.email" maxlength="80" valid="error.email.valid" message="{{error.email.message}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 input--margintop text-center">
                        <h3 class="font--regular">
                            ou
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 input--margintop">
                        <input-telefone placeholder="Telefone" name="telefone" ng-model="dadosPessoais.telefone" maxlength="80" valid="error.telefone.valid" message="{{error.telefone.message}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center input--margintop">
                        <button class="button--background">
                            Continuar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <form novalidate ng-submit="validarImovel()">
            <div class="row" ng-if="steps.passo3" scrolling-to-steps>
                <hr class="hr--gray hr--margintop" />
                <div class="row box--margintop--50">
                    <div class="col-md-12 text-center">
                        <h1 class="font--light roxo">
                            Perfeito, {{dadosPessoais.nome}}. Agora, precisamos conhecer um pouco o imóvel para o qual você pretende fazer o seguro.
                        </h1>
                    </div>
                </div>

                <div class="row box--margin--20">
                    <div class="col-md-4 col-md-offset-4">
                        <h3 class="font--medium">
                            O imóvel que você quer cuidar:
                        </h3>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="row">
                                <div class="col-md-1 checkbox">
                                    <input type="checkbox" id="test1" />
                                    <label></label>
                                </div>
                                <div class="col-md-11 checkbox__label">
                                    <label for="test1" class="font--light">
                                        É uma habitação coletiva, como república, pensão ou albergue
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 checkbox">
                                    <input type="checkbox" id="test2" />
                                    <label></label>
                                </div>
                                <div class="col-md-11 checkbox__label">
                                    <label for="test2" class="font--light">
                                        É um imóvel pré-fabricado ou de madeira
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 checkbox">
                                    <input type="checkbox" id="test3" />
                                    <label></label>
                                </div>
                                <div class="col-md-11 checkbox__label">
                                    <label for="test3" class="font--light">
                                        É tombado pelo patrimônio histórico
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 checkbox">
                                    <input type="checkbox" id="test4" />
                                    <label></label>
                                </div>
                                <div class="col-md-11 checkbox__label">
                                    <label for="test4" class="font--light">
                                        É uma propriedade rural
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 checkbox">
                                    <input type="checkbox" id="test5" />
                                    <label></label>
                                </div>
                                <div class="col-md-11 checkbox__label">
                                    <label for="test5" class="font--light">
                                        Está em construção, reconstrução, reforma, manutenção ou demolição
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1 checkbox">
                                    <input type="checkbox" id="test6" />
                                    <label></label>
                                </div>
                                <div class="col-md-11 checkbox__label">
                                    <label for="test6" class="font--light">
                                        Não se enquadra em nenhum desses casos
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center input--margintop">
                        <button class="button--background">
                            Continuar
                        </button>
                    </div>
                </div>
            </div>

        </form>
        <form novalidate ng-submit="validarCepOuLocalizacao()">
            <div class="row" ng-if="steps.passo4" scrolling-to-steps>
                <hr class="hr--gray hr--margintop" />
                <div class="row box--margintop--50">
                    <div class="col-md-12 text-center">
                        <h2 class="title font--regular">
                            Qual é o CEP da casa ou apartamento?
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-offset-4 input--margintop">
                        <input-cep placeholder="Cep" type="text" name="cep" valid="error.cep.valid" ng-model="dadosPessoais.cep" maxlength="80" />
                    </div>
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <span class="font__box--min">
                            <u class="roxo">
                                Não sei meu cep
                            </u>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center input--margintop">
                        <button class="button--background">
                            Continuar
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <form novalidate ng-submit="validarTipoImovel()">
            <div class="row" ng-if="steps.passo5" scrolling-to-steps>
                <hr class="hr--gray hr--margintop" />
                <div class="row box--margin">
                    <div class="col-md-12 text-center">
                        <h2 class="title font--regular">
                            Esse imóvel é:
                        </h2>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3 text-center">
                            <button class="button--line button--line--icon" ng-click="defineImovel('Casa')" ng-class="{'button--line--active' : dadosPessoais.tipoImovel == 'Casa'}">
                                <i class="fa fa-home"></i>
                                <div class="button--line--icon__text">
                                    Casa
                                </div>
                            </button>
                        </div>
                        <div class="col-md-3 text-center">
                            <button class="button--line button--line--icon" ng-click="defineImovel('Apartamento')" ng-class="{'button--line--active' : dadosPessoais.tipoImovel == 'Apartamento'}">
                                <i class="fa fa-building"></i>
                                <div class="button--line--icon__text">
                                    Apartamento
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <form novalidate ng-submit="validarCondominioFechado()">
            <div class="row" ng-if="steps.passo6" scrolling-to-steps>
                <hr class="hr--gray hr--margintop" />
                <div class="row box--margintop--50">
                    <div class="col-md-12 text-center">
                        <h2 class="title font--regular">
                            Essa casa/apartamento fica em condomínio fechado?
                        </h2>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-12 box--margin text-center">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-3">
                                    <button class="button--line" ng-click="defineCondominioFechado('Sim')" ng-class="{'button--line--active' : dadosPessoais.condominioFechado == 'Sim'}">
                                        <div class="button--line__text">
                                            Sim
                                        </div>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="button--line" ng-click="defineCondominioFechado('Nao')" ng-class="{'button--line--active' : dadosPessoais.condominioFechado == 'Nao'}">
                                        <div class="button--line__text">
                                            Não
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form novalidate ng-submit="validarMoradiaPrincipal()">
            <div class="row" ng-if="steps.passo7" scrolling-to-steps>
                <hr class="hr--gray hr--margintop" />
                <div class="row box--margin">
                    <div class="col-md-12 text-center">
                        <h2 class="title font--regular">
                            É sua moradia principal?
                        </h2>
                    </div>
                </div>

                <div class="container-fluid input--margintop">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 text-center roxo--light" ng-if="dadosPessoais.tipoImovel == 'Casa'">
                            <i class="fa fa-home icon--plus"></i>
                        </div>
                        <div class="col-md-4 col-md-offset-4 text-center roxo--light" ng-if="dadosPessoais.tipoImovel == 'Apartamento'">
                            <i class="fa fa-building icon--plus"></i>
                        </div>
                    </div>
                    <div class="row input--margintop">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h4 class="gray--light font--light">
                                Moradia principal é a residência que você passa a maior parte dos dias. Não é um lugar que fica muito tempo vazio ou que você usa somente nos finais de semana e férias.
                            </h4>
                        </div>
                    </div>
                    <div class="row input--margintop">
                        <div class="col-md-3 col-md-offset-3">
                            <button class="button--line" ng-click="defineMoradiaPrincipal('Sim')" ng-class="{'button--line--active' : dadosPessoais.moradiaPrincial == 'Sim'}">
                                <div class="button--line__text">
                                    Sim
                                </div>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button class="button--line" ng-click="defineMoradiaPrincipal('Nao')" ng-class="{'button--line--active' : dadosPessoais.moradiaPrincial == 'Nao'}">
                                <div class="button--line__text">
                                    Não
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <form novalidate ng-submit="validarValorAproximado()">
            <div class="row" ng-if="steps.passo8" scrolling-to-steps>
                <hr class="hr--gray hr--margintop" />
                <div class="row box--margintop--50">
                    <div class="col-md-12 text-center">
                        <h2 class="title font--regular">
                            Você pode dizer o valor aproximado da casa?
                        </h2>
                        <h5 class="font--regular">
                            Caso o imóvel possua um valor abaixo ou acima do valor estipulado, por favor, procure uma agência da Caixa Econômica e fale com o gerente.
                        </h5>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <!--<button type="button" ng-click="diminuirValorImovel()">
                                -
                            </button>-->
                            <rzslider rz-slider-model="valorAproximado" rz-slider-options="slider.options"></rzslider>
                            <!--<button type="button" ng-click="somaValorImovel()">
                                +
                            </button>-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center">
                            <h2 class="price font--medium gray">
                                R${{valorAproximado}},00
                            </h2>
                        </div>
                    </div>
                    <div class="row box--margin text-center">
                        <button class="button--background">
                            Continuar
                        </button>
                    </div>
                </div>

            </div>
        </form>
        <form novalidate ng-submit="validarImovelComSeguroOutraEmpresa()">
            <div class="row" ng-if="steps.passo9" scrolling-to-steps>
                <hr class="hr--gray hr--margintop" />
                <div class="row box--margintop--50">
                    <div class="col-md-12 text-center">
                        <h2 class="title font--regular">
                            Essa casa ou apartamento já possui seguro em outra empresa?
                        </h2>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 box--margin text-center">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-3">
                                        <button class="button--line" type="button" ng-click="definePossuiSeguroOutraEmpresa('Sim')" ng-class="{'button--line--active' : dadosPessoais.possuiSeguroOutraEmpresa == 'Sim'}">
                                            <div class="button--line__text">
                                                Sim
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="button--line" type="button" ng-click="definePossuiSeguroOutraEmpresa('Nao')" ng-class="{'button--line--active' : dadosPessoais.possuiSeguroOutraEmpresa == 'Nao'}">
                                            <div class="button--line__text">
                                                Não
                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="row box--margin" ng-if="dadosPessoais.possuiSeguroOutraEmpresa == 'Sim'">
                                    <div class="col-md-12 text-center">
                                        <h2 class="title font--regular box--margin">
                                            Qual o nome da empresa?
                                        </h2>
                                    </div>
                                    <div class="col-md-4 col-md-offset-4 text-center">
                                        <input-nome placeholder="Qual a empresa?" type="text" name="empresa" ng-model="dadosPessoais.seguroOutraEmpresa" maxlength="40" valid="error.seguroOutraEmpresa.valid" message="{{error.seguroOutraEmpresa.message}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row box--margin text-center">
                        <button class="button--background">
                            Escolher assistências e coberturas
                        </button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<footer class="footer">
    <div class="row hidden-xs">
        <div class="col-md-2">
            <img src="../images/logo-caixaseguradora.png" alt="Logotipo Caixa Seguradora e sua tipografia" />
        </div>
        <div class="col-md-7">
            <h6 class="font--regular">
                &copy; Copyrights 2017 Caixa Seguradora - Todos os direitos reservados.
            </h6>
            <div class="footer__content font--regular">
                O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                Processo SUSEP nº 15414.900040/2016-34.
            </div>
        </div>
        <div class="col-md-3">
            <!--<h6 class="font--regular text-right remove--margin">Fale conosco</h6>-->
            <h6 class="font--regular text-right remove--margin--top">
                <strong>Fale conosco:</strong>
                0800 730 9902
            </h6>
            <h6 class="font--regular text-right">
                <strong>SAC:</strong> 0800-730-9901
            </h6>
            <h6 class="remove--margin--top font--regular text-right">
                <strong>Ouvidoria:</strong> 0800-702-4240
            </h6>
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-md-12 footer__content text-center">
            <div class="col-md-12">
                <h6 class="font--regular text-center remove--margin">Fale conosco</h6>
                <h4 class="font--light text-center remove--margin--top">0800 730 9902</h4>
                <h5 class="font--regular text-center">
                    <strong>SAC:</strong> 0800-730-9901
                </h5>
                <h6 class="remove--margin--top font--regular text-center">
                    <strong>Ouvidoria:</strong> 0800-702-4240
                </h6>
            </div>
            <div class="clearfix" style="height: 20px;"></div>
            <h6 class="font--regular">
                &copy; Copyrights 2017 Caixa Seguradora <br /> Todos os direitos reservados.
            </h6>
            <div class="font--regular">
                O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                Processo SUSEP nº 15414.900040/2016-34.
            </div>
        </div>
        <div class="col-md-12 text-center">
            <img src="../images/logo-caixaseguradora.png" alt="Logotipo Caixa Seguradora e sua tipografia" />
        </div>
    </div>
</footer>