<div class="container-fluid header">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="header__text--white header__text--margintop text-center">
                        Na <span class="header__text--white--strong">Caixa Seguradora</span> você pode cotar <br />
                        um <span class="header__text--white--strong">Seguro Residencial</span> de duas formas.
                    </h2>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3 class="title title__select--margin font--regular text-center">
                    Você só precisa escolher a opção que faz mais o seu estilo:
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12 text-center">
                        <div class="col-md-5 pull-left box-container text-center">
                            <div class="col-md-12">
                                <div class="col-md-12 text-center box-container__plain"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="box-container__icon"></div>
                            </div>
                            <div class="col-md-12 box-container__description text-center font--regular">
                                Nessa cotação, você responde algumas perguntas e monta o plano para cuidar do seu imóvel como quiser.
                            </div>
                            <div class="col-md-12 box-container__button" ng-click="go('meujeito')">
                                <button class="button--background">Quero o Seguro do Meu Jeito</button>
                            </div>
                        </div>
                        <div class="col-md-5 pull-right box-container text-center">
                            <div class="col-md-12">
                                <div class="col-md-12 text-center box-container__plain"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="box-container__icon"></div>
                            </div>
                            <div class="col-md-12 box-container__description text-center font--regular">
                                Nessa cotação, você responde algumas perguntas e monta o plano para cuidar do seu imóvel como quiser.
                            </div>
                            <div class="col-md-12 box-container__button">
                                <button class="button--background">Quero o Seguro Ideal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-1 box--margin">
                <h4 class="title font--regular text-center">
                    Se você já é cliente, para fazer a cotação, acesse sua conta <a href="#"><u>aqui</u></a>.
                </h4>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="row hidden-xs">
            <div class="col-md-2">
                <img src="../Assets/images/logo-caixaseguradora.png" alt="Logotipo Caixa Seguradora e sua tipografia" />
            </div>
            <div class="col-md-7">
                <h6 class="font--regular">
                    &copy; Copyrights 2017 Caixa Seguradora - Todos os direitos reservados.
                </h6>
                <div class="footer__content font--regular">
                    O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                    Processo SUSEP nº 15414.900040/2016-34.
                </div>
            </div>
            <div class="col-md-3">
                <h6 class="font--regular text-right remove--margin">Fale conosco</h6>
                <h4 class="font--light text-right remove--margin--top">0800 730 9902</h4>
                <h5 class="font--regular text-right">
                    <strong>SAC:</strong> 0800-730-9901
                </h5>
                <h6 class="remove--margin--top font--regular text-right">
                    <strong>Ouvidoria:</strong> 0800-702-4240
                </h6>
            </div>
        </div>
        <div class="row visible-xs">
            <div class="col-md-12 footer__content text-center">
                <div class="col-md-12">
                    <h6 class="font--regular text-center remove--margin">Fale conosco</h6>
                    <h4 class="font--light text-center remove--margin--top">0800 730 9902</h4>
                    <h5 class="font--regular text-center">
                        <strong>SAC:</strong> 0800-730-9901
                    </h5>
                    <h6 class="remove--margin--top font--regular text-center"   >
                        <strong>Ouvidoria:</strong> 0800-702-4240
                    </h6>
                </div>
                <div class="clearfix" style="height: 20px;"></div>
                <h6 class="font--regular">
                    &copy; Copyrights 2017 Caixa Seguradora <br /> Todos os direitos reservados.
                </h6>
                <div class="font--regular">
                    O registro deste plano na SUSEP não implica por parte da Autarquia, incentivo ou recomendação à sua comercialização.<br />
                    Processo SUSEP nº 15414.900040/2016-34.
                </div>
            </div>
            <div class="col-md-12 text-center">
                <img src="../Assets/images/logo-caixaseguradora.png" alt="Logotipo Caixa Seguradora e sua tipografia" />
            </div>
        </div>
    </footer>
</div>